.row-fluid
	ul.inline
		li.footerli
			a(class="footerlinks", href="/IndianRoommates/") Terms
		li.footerli 
			a(class="footerlinks", href="/IndianRoommates/") Help
		li.footerli 
			a(class="footerlinks", href="/IndianRoommates/") ContactUs
		li.footerli
			a(class="footerlinks", href="/IndianRoommates/") Advertising
		li.footerli
			a(class="footerlinks", href="/IndianRoommates/") Support
		li.footerli
			a(class="footerlinks", href="/IndianRoommates/") About