.row-fluid
    ul.inline
        li.footerli
            a(class="footerlinks", href="/about") Terms
        li.footerli 
            a(class="footerlinks", href="/about") Help
        li.footerli 
            a(class="footerlinks", href="/about") ContactUs
        li.footerli
            a(class="footerlinks", href="/about") Advertising
        li.footerli
            a(class="footerlinks", href="/about") Support
        li.footerli
            a(class="footerlinks", href="/about") About

//- .addthis_toolbox.addthis_default_style
//-     a.addthis_button_facebook_like(fb:like:layout='button_count')
//-         a.addthis_button_tweet
//-       a.addthis_button_pinterest_pinit
//-       a.addthis_button_google_plusone(g:plusone:size='medium')
//-       a.addthis_counter.addthis_pill_style
//-         script(type='text/javascript')
//-           var addthis_config = {"data_track_addressbar":true};
//-         script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-523d7c1656344032')           





