body {
  padding-top: 60px;
  font-family: "ProximaNovaLight" !important;
}

.container {
  width: auto;
  max-width: 1080px;
}
.container2 {
  width: auto;
  max-width: 680px;
}
.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}


.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}
.classgo{
	margin-bottom: 12px;
	margin-left: 10px;
}
.roomgo{
  margin-bottom: 12px;
  margin-left: 10px;
}

#roomlocation{
  width:300px;
}

.maroon{
  color:maroon;
  text-align: center;
  font-size: 30px;
}

.homepara{
  margin-left: 300px;
}

.footerli{
  margin-right: 50px;
}


a.footerlinks{
  color:grey;
}



.push{
  margin-bottom: 100px;
}


/*.pac-container{background-color:#fff;border:1px solid #ccc;overflow:hidden}
.pac-container:after{padding-top:3px;text-align:right;display:block;font-size:0}
.pac-item{cursor:pointer;padding:0 4px;text-overflow:ellipsis;white-space:nowrap}
.pac-item:hover{background-color:#f0f0ff}
.pac-selected{background-color:#d5ddf3}
.pac-placeholder{color:gray}
.pac-container:after {

  background-image:url("https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png");
  content:"";
  height:16px;
  background-position:right;
  background-repeat:no-repeat;background-size:104px 16px;
}



*/


.pac-container{background:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);box-shadow:0 0 5px rgba(0,0,0,0.5);border:1px solid #000;border-top:none}
.pac-container .pac-item{color:#2096cc;border-bottom:#f0f0f0;font-weight:normal;overflow:hidden;padding:0.3em 0.8em}
.pac-container .pac-item:hover,.pac-container .pac-item.pac-selected{
  background:#1384b3 url('../img/torquoisecolor.jpg') 0 0 repeat-x !important;color:#fff}
.pac-container .pac-item:nth-child(odd){background:#fafafa}
.pac-container,.pac-container .pac-item:last-child{-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}

.pac-container,.pac-item{font-size: 16px;}



@font-face{font-family:shift;src:url("https://a2.muscache.com/airbnb/static/shift/shift_bold-1cd89af47f58f988f4697f1f01453797.eot");src:url("https://a2.muscache.com/airbnb/static/shift/shift_bold-1cd89af47f58f988f4697f1f01453797.eot?#iefix") format("embedded-opentype"),url("https://a0.muscache.com/s/static/shift/shift_bold-26e8d5b4cc479bd1f8f000f2d0dfed78.woff") format("woff"),url("https://a2.muscache.com/airbnb/static/shift/shift_bold-e4dc1f73906c6561049f3da1e472f4ea.ttf") format("truetype"),url("https://a1.muscache.com/airbnb/static/shift/shift_bold-b38149e2e62cad5e26bb9333fbf5494c.svg") format("svg");font-weight:bold;font-style:normal}#homepage-buckets .trust_safety .bucket-content{width:189px;padding:7px 10px;position:absolute;bottom:0;text-align:center;font-size:1.5em;color:#363A3A;text-shadow:0 1px 0 white;background:rgba(240,240,240,0.8);background:-webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.8)), to(rgba(240,240,240,0.8))) ;background:-moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(240,240,240,0.8)) ;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccf0f0f0', GradientType=0) ;-webkit-box-shadow:inset 0 1px 5px rgba(255,255,255,0.8);box-shadow:inset 0 1px 5px rgba(255,255,255,0.8);border-top:1px solid rgba(0,0,0,0.2)}#homepage-buckets .collections .bucket-content{width:189px;padding:7px 10px;position:absolute;bottom:43px;text-align:center;-webkit-transform:rotate(-3.5deg);-moz-transform:rotate(-3.5deg);-ms-transform:rotate(-3.5deg);-o-transform:rotate(-3.5deg);transform:rotate(-3.5deg);color:#122f21;font-size:1.3em;letter-spacing:0.2em;text-shadow:0 1px 1px rgba(255,255,255,0.2)}#homepage-buckets,#immonet-buckets{margin:14px 0 3px;overflow:hidden}#homepage-buckets li,#immonet-buckets li{width:209px;overflow:hidden;padding:12px;margin:0;border-width:1px;border-style:solid;border-color:#e0dddd #d9d8d8 #d2d2d2;padding:12px;float:left;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);background:#f3f3f3;background:-webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#f3f3f3)) ;background:-moz-linear-gradient(top, #fefefe, #f3f3f3) ;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff3f3f3', GradientType=0) }#homepage-buckets a,#immonet-buckets a{overflow:hidden;position:relative;height:143px;display:block;text-decoration:none}#homepage-buckets .box-shadow,#immonet-buckets .box-shadow{position:absolute;top:0;left:0;height:100%;width:100%;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.7);box-shadow:inset 0 0 6px rgba(0,0,0,0.7)}#homepage-buckets .box-shadow:hover,#immonet-buckets .box-shadow:hover{-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.8);box-shadow:inset 0 0 10px rgba(0,0,0,0.8)}#homepage-buckets li+li,#immonet-buckets li+li{margin-left:6px}.immonet_bucket{background:url(https://a1.muscache.com/airbnb/static/immonet/teasers-bc5e5d21c3811d48a435ba178f7490b5.png) no-repeat;height:143px;width:209px}.immo-einzel{background-position:0 -143px}.immo-finanz{background-position:0 -286px}.immo-koop{background-position:0 -429px}body.home_view.streamlined #hero{height:600px}body.home_view.streamlined .wishlists-navbar{top:646px}body.home_view.streamlined #slideshow li>img{top:-50px}body.home_view.streamlined #controls .arrow{top:280px}body.home_view .info-bar{display:none}body.home_view #homepageBuckets{display:block}body.home_view.v2{background:#f7f7f7}body.home_view.v2 #hero{height:500px;border-bottom:1px solid #dbdbdb}body.home_view.v2 #hero h1{font-family:"shift", "Helvetica Neue", Helvetica, Arial, sans-serif;text-rendering:auto}body.home_view.v2 #hero 
.search-area{padding-top:100px}
body.home_view.v2 #hero #controls .arrow{top:230px}
body.home_view.v2 #hero #slideshow li img{top:-100px}#immonet{padding-top:30px}#immonet a{display:block;font-size:15px;font-weight:bold}#immonet .hide{display:none;padding-top:15px}.panel-subtle-dark{background:#efefef;padding:25px;border:1px solid #dbdbdb;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.panel-subtle-dark h5{font-size:20px;margin-bottom:10px}.panel-subtle-dark p{color:#393c3d;line-height:1.4;font-size:15px}.panel-subtle-dark a{color:#00b0ff}.section{padding:35px 0}
.section-offset{background:#efefef;border:1px solid #dbdbdb}#hero{z-index:1;position:relative;height:700px;margin-top:-18px;display:none;text-shadow:0 -1px 1px rgba(0,0,0,0.6)}.section-intro{color:#393c3d}.section-intro h3{font-size:26px;margin-bottom:5px;font-family:"shift", "Helvetica Neue", Helvetica, Arial, sans-serif;text-rendering:auto}.section-intro h3 a{color:inherit}.section-intro p{font-size:18px}.feature-image{border:1px solid #aeaeae}ul.city-tiles{overflow:hidden;margin-right:-25px}ul.city-tiles li{position:relative;height:165px;width:315px;overflow:hidden;float:left;margin:0 25px 25px 0}ul.city-tiles li .sprite-homev2-tiles{position:absolute;top:0;width:313px}ul.city-tiles li a{display:block;position:relative;width:100%;height:100%;text-decoration:none;color:#fff;background:rgba(0,0,0,0.2);font-weight:bold;text-align:center}ul.city-tiles li a h4{font-family:"shift", "Helvetica Neue", Helvetica, Arial, sans-serif;text-rendering:auto;font-size:29px;color:#fff;padding-top:70px;line-height:1.2;margin:0;text-shadow:0 1px 8px rgba(0,0,0,0.5)}ul.city-tiles li a span{display:none;font-size:17px}ul.city-tiles li a:hover{background:rgba(0,0,0,0.3)}ul.city-tiles li a:hover span{display:block}ul.city-tiles li .label{position:absolute;top:5px;left:5px}#slideshow{margin:0}#slideshow li{position:absolute;z-index:80;height:100%;width:100%;overflow:hidden;background:#000}#slideshow li>img{position:relative;left:50%;margin-left:-800px}#slideshow li.next{z-index:90}#slideshow li.active{display:block;z-index:100}#slideshow .caption{position:absolute;display:none;width:auto;bottom:0;right:0;padding:50px 25px 20px 80px}#slideshow .caption .container{left:50%;margin-left:-496px;width:995px}#slideshow .caption img{float:right;margin-left:15px;border:3px solid rgba(255,255,255,0.9)}#slideshow .caption p{float:right;font-size:15px;margin-top:3px;color:#d8d8d8}#slideshow .caption strong{font-weight:bold;color:#fff}#slideshow .caption a{color:inherit}#slideshow .caption:hover p{text-decoration:underline}#slideshow .caption .wish_list_button{float:left;margin:3px 10px 0 0}#controls{position:absolute;top:0;width:100%;height:100%}#controls .arrow{cursor:pointer;opacity:0.7;position:absolute;display:block;z-index:200;top:330px;right:10px;width:42px;height:75px;background:url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) -65px -180px no-repeat}#controls .arrow.left{background-position:-23px 0;left:10px}#controls .arrow.no-arrows{background-image:none}#controls .arrow:hover{opacity:1}#controls .arrow:active{opacity:0.85}#enter_location_error_message{position:absolute;top:50px;left:6px;width:356px;background:rgba(255,255,255,0.8);-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;padding:5px 8px}#blob-bg{display:none;width:600px;height:180px;position:absolute;top:100px;left:50%;margin-left:-600px;background:url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) 0px 0px no-repeat}.custom.selector,.search-area-icon{background:url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) 1px -178px no-repeat;display:block;cursor:pointer;position:absolute;right:13px;top:50%;margin-top:-10px;width:24px;height:20px}.search-area-icon-checkout{background-position:1px -198px}.custom.selector{background-position:1px -218px}

.search-area{
  height:100%;
  z-index:160;
  /*position:absolute;*/
  top:0;
  /*height:300px;*/
  width:100%;
  margin-top:190px;
}

.search-area h1,
.search-area h2{color:#fff;line-height:1.1}
.search-area h1{font-size:48px;margin-bottom:0}
.search-area h2{font-size:20px;margin-bottom:20px}


.search-area form{width:930px; background:rgba(57,60,61,0.8);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);box-shadow:0 0 5px rgba(0,0,0,0.5);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid rgba(0,0,0,0.8);padding:4px;line-height:1.2}.search-area input[type='text'],.search-area .dropdown{border:1px solid #000;text-shadow:0 1px 1px #fff;padding:8px 12px;font-size:17px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.search-area input:focus{border-color:rgba(237,29,137,0.8)}.search-area .input-wrapper{margin-right:4px;position:relative;float:left}.search-area input[type="text"]{float:left;height:23px;margin:0;width:110px;-webkit-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.4);box-shadow:inset 1px 1px 5px rgba(0,0,0,0.4)}.search-area .dropdown{background-image:url(data:image/jpeg;base64,%2F9j%2F4AAQSkZJRgABAQAAAQABAAD%2F2wBDAAQDAwMDAwQDAwQGBAMEBgcFBAQFBwgGBgcGBggKCAkJCQkICgoMDAwMDAoMDA0NDAwRERERERQUFBQUFBQUFBT%2F2wBDAQQFBQgHCA8KCg8UDg4OFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT%2FwAARCAAqAAEDAREAAhEBAxEB%2F8QAFwAAAwEAAAAAAAAAAAAAAAAAAwQFCP%2FEAB4QAAEDBAMAAAAAAAAAAAAAAAABElECAxEUFZGT%2F8QAFAEBAAAAAAAAAAAAAAAAAAAAAP%2FEABQRAQAAAAAAAAAAAAAAAAAAAAD%2F2gAMAwEAAhEDEQA%2FAN85AG4BDkbEr0BEeoB9WqAL3gB%2F%2F9k%3D);background-position:0 bottom;background-repeat:repeat-x;padding-bottom:7px}.search-area .dropdown.focus{background:#FDFDFD}.search-area button .icon.icon-search{font-size:1.6em;line-height:0.4em;margin-right:10px}

.search-area .icon-and-text{height:41px;width: 125px;}

.search-area button:hover,.search-area btn:hover{/*background-color:blue!important*/}#location{width:340px}@-webkit-keyframes slideleft{0%{margin-left:-790px}100%{margin-left:-800px}}@-webkit-keyframes slideright{0%{margin-left:-810px}100%{margin-left:-800px}}@-moz-keyframes slideleft{0%{margin-left:-790px}100%{margin-left:-800px}}@-moz-keyframes slideright{0%{margin-left:-810px}100%{margin-left:-800px}}#slideshow li.next>img{-webkit-animation:slideleft 800ms 1 ease-out;-moz-animation:slideleft 800ms 1 ease-out}#slideshow li.next.right>img{-webkit-animation:slideright 800ms 1 ease-out;-moz-animation:slideright 800ms 1 ease-out}.pac-container{margin-top:4px}#homepage-tab-container{clear:both;padding:10px;margin:0;background:white;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #D0D0D0;overflow:hidden;-webkit-box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1);box-shadow:inset 0 0 2px 2px #fff,0 1px 0 rgba(127,127,127,0.1)}#homepage-tabs{padding:13px 13px 0;margin:-10px -10px 0;background:#e5e5e5;background:-webkit-gradient(linear, center top, center bottom, from(#f6f6f6), to(#e5e5e5)) ;background:-moz-linear-gradient(top, #f6f6f6, #e5e5e5) ;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe5e5e5', GradientType=0) ;-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;border-top:1px solid #ffffff;border-bottom:1px solid #d0d0d0}#homepage-tabs li{float:left;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;margin-right:13px;border:1px solid #c3c3c3;margin-bottom:-1px;background:#e4e4e4;-webkit-box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.1);box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.1)}#homepage-tabs li:hover{background:#ffffff;-webkit-box-shadow:none;box-shadow:none}#homepage-tabs li.selected{background:#ffffff;border-bottom-color:#ffffff;-webkit-box-shadow:none;box-shadow:none}#homepage-tabs li a{font-size:1.1em;font-weight:bold;text-decoration:none;display:block;line-height:25px;padding:5px 22px;color:#979797;text-shadow:0 1px 0 #ffffff}#homepage_cities,#immonet-buckets{display:none;margin-right:-10px}.homepage-cities-left,.homepage-cities-right{padding:17px 6px;float:left;width:452px}.homepage-cities-left{margin-right:20px}.homepage-cities-continent{margin-bottom:17px}.homepage-cities-continent h5{font:12px "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;text-transform:uppercase;color:#999;padding-bottom:4px;border-bottom:1px dashed #ddd}.homepage-cities-country{padding:13px 8px 0}.homepage-cities-country h6{color:#5b5b5b;font-size:13px;margin-bottom:4px}.homepage-cities-country ul{list-style:none;margin-left:8px;line-height:19px;overflow:hidden}.homepage-cities-country li{display:inline;font-size:13px;white-space:nowrap;border-left:1px solid #ccc;margin-left:-1px;padding-left:4px;padding-right:3px}.custom-select-container{position:relative}.custom-select-container select{bottom:0;height:100%;left:0;min-width:100%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);position:absolute;right:0;top:0;-webkit-appearance:none;width:auto}.custom.dropdown{height:22px;padding-top:10px !important}.custom.dropdown .current{display:block;position:relative;white-space:nowrap}.custom.dropdown.small{width:120px}.custom.dropdown.focus{border-color:rgba(237,29,137,0.8)}.more-wishlists{width:100%;line-height:3em;margin:25px 0;font-weight:bold}#home-loading-indicator{margin:60px 0 25px;text-align:center}.pac-container .pac-item{font-size:17px}.sprite-homev2-tiles{background:url(https://a1.muscache.com/airbnb/static/landing_pages/home_v2/tiles/sprite-db8018194b341aeea6e3c357d347694e.jpg) no-repeat;display:block;width:315px;height:165px}.sprite-homev2-tiles-ny{background-position:-0px 0}.sprite-homev2-tiles-berlin{background-position:-315px 0}.sprite-homev2-tiles-dc{background-position:-630px 0}.sprite-homev2-tiles-london{background-position:-945px 0}.sprite-homev2-tiles-paris{background-position:-1260px 0}.sprite-homev2-tiles-sf{background-position:-1575px 0}.sprite-homev2-tiles-sydney{background-position:-1890px 0}.sprite-homev2-tiles-tokyo{background-position:-2205px 0}











