extends ../layouts/default

block main
  //- h1= title
  .row-fluid.span12
      h1.maroon Welcome to IndiaDilse!
      p.homepara  Serving Indian community Worldwide!
    ul.inline
      li
        p.muted
          a(href='/articles/') Articles
      li
        p.muted
          a(href='/rooms/') Rooms
    ul.inline
      li
        p.muted
          a(href='/tags/jalandhar') Rooms in Jalandhar


        h1
          a(name='US')
          | US
        .colmask
          .box.box_1
            h4 Alabama
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Auburn,AL') auburn
              li
                a(href='http://indiadilse.com/indian-roommates-in/Birmingham,AL') birmingham
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dothan,AL') dothan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Florence,AL') florence / muscle shoals
              li
                a(href='http://indiadilse.com/indian-roommates-in/Gadsden,AL') gadsden-anniston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Huntsville,AL') huntsville / decatur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Decatur,AL') decatur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mobile,AL') mobile
              li
                a(href='http://indiadilse.com/indian-roommates-in/Montgomery,AL') montgomery
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tuscaloosa,AL') tuscaloosa
            h4 Alaska
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Anchorage,AK') anchorage / mat-su
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fairbanks,AK') fairbanks
              li
                a(href='http://indiadilse.com/indian-roommates-in/KenaiPeninsula,AK') kenai peninsula

            h4 Arizona
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Flagstaff,AZ') Flagstaff
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sedona,AZ') sedona
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mohave,AZ') mohave county
              li
                a(href='http://indiadilse.com/indian-roommates-in/Phoenix,AZ') phoenix
              li
                a(href='http://indiadilse.com/indian-roommates-in/Prescott,AZ') prescott
              li
                a(href='http://indiadilse.com/indian-roommates-in/ShowLow,AZ') show low
              li
                a(href='http://indiadilse.com/indian-roommates-in/SierraVista,AZ') sierra vista
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tucson,AZ') tucson
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yuma,AZ') yuma
            h4 Arkansas
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fayetteville,AR') fayetteville 
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortSmith,AR') fort smith
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jonesboro,AR') jonesboro
              li
                a(href='http://indiadilse.com/indian-roommates-in/LittleRock,AR') little rock
              li
                a(href='http://indiadilse.com/indian-roommates-in/Texarkana,AR') texarkana
            h4 California
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bakersfield,CA') bakersfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chico,CA') chico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fresno,CA') fresno / madera
              li
                a(href='http://indiadilse.com/indian-roommates-in/GoldCountryBlvd,GoldRiver,CA') gold country
              li
                a(href='http://indiadilse.com/indian-roommates-in/GoldCountryCt,Salida,CA') GoldCountryCt, Salida
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hanford,CA') hanford
              li
                a(href='http://indiadilse.com/indian-roommates-in/Humboldt,CA') humboldt county
              li
                a(href='http://indiadilse.com/indian-roommates-in/ImperialCounty,CA') imperial county
              li
                a(href='http://indiadilse.com/indian-roommates-in/LosAngeles,CA') los angeles
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mendocino,CA') mendocino
              li
                a(href='http://indiadilse.com/indian-roommates-in/Merced,CA') merced
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monterey,CA') modesto
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monterey,CA') monterey bay, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/OrangeCounty,CA') orange county, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/PalmSprings,CA') palm springs, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/Redding,CA') redding
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sacramento,CA') sacramento
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanDiego,CA') san diego
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanFrancisco,CA') san francisco bay area
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanLuisObispo,CA') san luis obispo
              li
                a(href='http://indiadilse.com/indian-roommates-in/SantaBarbara,CA') santa barbara
              li
                a(href='http://indiadilse.com/indian-roommates-in/SantaMaria,CA') santa maria
              li
                a(href='http://indiadilse.com/indian-roommates-in/Siskiyou,CA') siskiyou ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/Stockton,CA') stockton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Susanville,CA') susanville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ventura,CA') Ventura, CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ventura,CA') Ventura, CA  

              li
                a(href='http://indiadilse.com/indian-roommates-in/Visalia,CA') Visalia,CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/Visalia,Irvine,CA') Visalia,Irvine,CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/YubaCity,CA') yuba city
            h4 Colorado
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Boulder,CO') boulder
              li
                a(href='http://indiadilse.com/indian-roommates-in/ColoradoSprings,CO') colorado springs
              li
                a(href='http://indiadilse.com/indian-roommates-in/Denver,CO') denver
              li
                a(href='http://indiadilse.com') eastern CO
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortCollins,CO') fort collins / north CO
              li
                a(href='http://indiadilse.com') high rockies
              li
                a(href='http://indiadilse.com/indian-roommates-in/Puebla,Mexico') pueblo
              li
                a(href='http://indiadilse.com/indian-roommates-in/WesternSlopeMine,Nederland,CO') western slope
            h4 Connecticut
            ul
              li
                a(href='http://newlondon.craigslist.org/') eastern CT
              li
                a(href='http://hartford.craigslist.org/') hartford
              li
                a(href='http://newhaven.craigslist.org/') new haven
              li
                a(href='http://nwct.craigslist.org/') northwest CT
            h4 Delaware
            ul
              li
                a(href='http://delaware.craigslist.org/') delaware
            h4 District of Columbia
            ul
              li
                a(href='http://washingtondc.craigslist.org/') washington
            h4 Florida
            ul
              li
                a(href='http://daytona.craigslist.org/') daytona beach
              li
                a(href='http://keys.craigslist.org/') florida keys
              li
                a(href='http://fortlauderdale.craigslist.org/') fort lauderdale
              li
                a(href='http://fortmyers.craigslist.org/') ft myers / SW florida
              li
                a(href='http://gainesville.craigslist.org/') gainesville
              li
                a(href='http://cfl.craigslist.org/') heartland florida
              li
                a(href='http://jacksonville.craigslist.org/') jacksonville
              li
                a(href='http://lakeland.craigslist.org/') lakeland
              li
                a(href='http://lakecity.craigslist.org/') north central FL
              li
                a(href='http://ocala.craigslist.org/') ocala
              li
                a(href='http://okaloosa.craigslist.org/') okaloosa / walton
              li
                a(href='http://orlando.craigslist.org/') orlando
              li
                a(href='http://panamacity.craigslist.org/') panama city
              li
                a(href='http://pensacola.craigslist.org/') pensacola
              li
                a(href='http://sarasota.craigslist.org/') sarasota-bradenton
              li
                a(href='http://miami.craigslist.org/') south florida
              li
                a(href='http://spacecoast.craigslist.org/') space coast
              li
                a(href='http://staugustine.craigslist.org/') st augustine
              li
                a(href='http://tallahassee.craigslist.org/') tallahassee
              li
                a(href='http://tampa.craigslist.org/') tampa bay area
              li
                a(href='http://treasure.craigslist.org/') treasure coast
              li
                a(href='http://westpalmbeach.craigslist.org/') west palm beach
            h4 Georgia
            ul
              li
                a(href='http://albanyga.craigslist.org/') albany 
              li
                a(href='http://athensga.craigslist.org/') athens
              li
                a(href='http://atlanta.craigslist.org/') atlanta
              li
                a(href='http://augusta.craigslist.org/') augusta
              li
                a(href='http://brunswick.craigslist.org/') brunswick
              li
                a(href='http://columbusga.craigslist.org/') columbus 
              li
                a(href='http://macon.craigslist.org/') macon / warner robins
              li
                a(href='http://nwga.craigslist.org/') northwest GA
              li
                a(href='http://savannah.craigslist.org/') savannah / hinesville
              li
                a(href='http://statesboro.craigslist.org/') statesboro
              li
                a(href='http://valdosta.craigslist.org/') valdosta
            h4 Hawaii
            ul
              li
                a(href='http://honolulu.craigslist.org/') hawaii
            h4 Idaho
            ul
              li
                a(href='http://boise.craigslist.org/') boise
              li
                a(href='http://eastidaho.craigslist.org/') east idaho
              li
                a(href='http://lewiston.craigslist.org/') lewiston / clarkston
              li
                a(href='http://twinfalls.craigslist.org/') twin falls
          .box.box_2
            h4 Illinois
            ul
              li
                a(href='http://bn.craigslist.org/') bloomington-normal
              li
                a(href='http://chambana.craigslist.org/') champaign urbana
              li
                a(href='http://chicago.craigslist.org/') chicago
              li
                a(href='http://decatur.craigslist.org/') decatur
              li
                a(href='http://lasalle.craigslist.org/') la salle co
              li
                a(href='http://mattoon.craigslist.org/') mattoon-charleston
              li
                a(href='http://peoria.craigslist.org/') peoria
              li
                a(href='http://rockford.craigslist.org/') rockford
              li
                a(href='http://carbondale.craigslist.org/') southern illinois
              li
                a(href='http://springfieldil.craigslist.org/') springfield 
              li
                a(href='http://quincy.craigslist.org/') western IL
            h4 Indiana
            ul
              li
                a(href='http://bloomington.craigslist.org/') bloomington
              li
                a(href='http://evansville.craigslist.org/') evansville
              li
                a(href='http://fortwayne.craigslist.org/') fort wayne
              li
                a(href='http://indianapolis.craigslist.org/') indianapolis
              li
                a(href='http://kokomo.craigslist.org/') kokomo
              li
                a(href='http://tippecanoe.craigslist.org/') lafayette / west lafayette
              li
                a(href='http://muncie.craigslist.org/') muncie / anderson
              li
                a(href='http://richmondin.craigslist.org/') richmond 
              li
                a(href='http://southbend.craigslist.org/') south bend / michiana
              li
                a(href='http://terrehaute.craigslist.org/') terre haute
            h4 Iowa
            ul
              li
                a(href='http://ames.craigslist.org/') ames
              li
                a(href='http://cedarrapids.craigslist.org/') cedar rapids
              li
                a(href='http://desmoines.craigslist.org/') des moines
              li
                a(href='http://dubuque.craigslist.org/') dubuque
              li
                a(href='http://fortdodge.craigslist.org/') fort dodge
              li
                a(href='http://iowacity.craigslist.org/') iowa city
              li
                a(href='http://masoncity.craigslist.org/') mason city
              li
                a(href='http://quadcities.craigslist.org/') quad cities
              li
                a(href='http://siouxcity.craigslist.org/') sioux city
              li
                a(href='http://ottumwa.craigslist.org/') southeast IA
              li
                a(href='http://waterloo.craigslist.org/') waterloo / cedar falls
            h4 Kansas
            ul
              li
                a(href='http://lawrence.craigslist.org/') lawrence
              li
                a(href='http://ksu.craigslist.org/') manhattan
              li
                a(href='http://nwks.craigslist.org/') northwest KS
              li
                a(href='http://salina.craigslist.org/') salina
              li
                a(href='http://seks.craigslist.org/') southeast KS
              li
                a(href='http://swks.craigslist.org/') southwest KS
              li
                a(href='http://topeka.craigslist.org/') topeka
              li
                a(href='http://wichita.craigslist.org/') wichita
            h4 Kentucky
            ul
              li
                a(href='http://bgky.craigslist.org/') bowling green
              li
                a(href='http://eastky.craigslist.org/') eastern kentucky
              li
                a(href='http://lexington.craigslist.org/') lexington
              li
                a(href='http://louisville.craigslist.org/') louisville
              li
                a(href='http://owensboro.craigslist.org/') owensboro
              li
                a(href='http://westky.craigslist.org/') western KY
            h4 Louisiana
            ul
              li
                a(href='http://batonrouge.craigslist.org/') baton rouge
              li
                a(href='http://cenla.craigslist.org/') central louisiana
              li
                a(href='http://houma.craigslist.org/') houma
              li
                a(href='http://lafayette.craigslist.org/') lafayette
              li
                a(href='http://lakecharles.craigslist.org/') lake charles
              li
                a(href='http://monroe.craigslist.org/') monroe
              li
                a(href='http://neworleans.craigslist.org/') new orleans
              li
                a(href='http://shreveport.craigslist.org/') shreveport
            h4 Maine
            ul
              li
                a(href='http://maine.craigslist.org/') maine
            h4 Maryland
            ul
              li
                a(href='http://annapolis.craigslist.org/') annapolis
              li
                a(href='http://baltimore.craigslist.org/') baltimore
              li
                a(href='http://easternshore.craigslist.org/') eastern shore
              li
                a(href='http://frederick.craigslist.org/') frederick
              li
                a(href='http://smd.craigslist.org/') southern maryland
              li
                a(href='http://westmd.craigslist.org/') western maryland
            h4 Massachusetts
            ul
              li
                a(href='http://boston.craigslist.org/') boston
              li
                a(href='http://capecod.craigslist.org/') cape cod / islands
              li
                a(href='http://southcoast.craigslist.org/') south coast
              li
                a(href='http://westernmass.craigslist.org/') western massachusetts
              li
                a(href='http://worcester.craigslist.org/') worcester / central MA
            h4 Michigan
            ul
              li
                a(href='http://annarbor.craigslist.org/') ann arbor
              li
                a(href='http://battlecreek.craigslist.org/') battle creek
              li
                a(href='http://centralmich.craigslist.org/') central michigan
              li
                a(href='http://detroit.craigslist.org/') detroit metro
              li
                a(href='http://flint.craigslist.org/') flint
              li
                a(href='http://grandrapids.craigslist.org/') grand rapids
              li
                a(href='http://holland.craigslist.org/') holland
              li
                a(href='http://jxn.craigslist.org/') jackson 
              li
                a(href='http://kalamazoo.craigslist.org/') kalamazoo
              li
                a(href='http://lansing.craigslist.org/') lansing
              li
                a(href='http://monroemi.craigslist.org/') monroe 
              li
                a(href='http://muskegon.craigslist.org/') muskegon
              li
                a(href='http://nmi.craigslist.org/') northern michigan
              li
                a(href='http://porthuron.craigslist.org/') port huron
              li
                a(href='http://saginaw.craigslist.org/') saginaw-midland-baycity
              li
                a(href='http://swmi.craigslist.org/') southwest michigan
              li
                a(href='http://thumb.craigslist.org/') the thumb
              li
                a(href='http://up.craigslist.org/') upper peninsula
            h4 Minnesota
            ul
              li
                a(href='http://bemidji.craigslist.org/') bemidji
              li
                a(href='http://brainerd.craigslist.org/') brainerd
              li
                a(href='http://duluth.craigslist.org/') duluth / superior
              li
                a(href='http://mankato.craigslist.org/') mankato
              li
                a(href='http://minneapolis.craigslist.org/') minneapolis / st paul
              li
                a(href='http://rmn.craigslist.org/') rochester 
              li
                a(href='http://marshall.craigslist.org/') southwest MN
              li
                a(href='http://stcloud.craigslist.org/') st cloud
            h4 Mississippi
            ul
              li
                a(href='http://gulfport.craigslist.org/') gulfport / biloxi
              li
                a(href='http://hattiesburg.craigslist.org/') hattiesburg
              li
                a(href='http://jackson.craigslist.org/') jackson
              li
                a(href='http://meridian.craigslist.org/') meridian
              li
                a(href='http://northmiss.craigslist.org/') north mississippi
              li
                a(href='http://natchez.craigslist.org/') southwest MS
            h4 Missouri
            ul
              li
                a(href='http://columbiamo.craigslist.org/') columbia / jeff city
              li
                a(href='http://joplin.craigslist.org/') joplin
              li
                a(href='http://kansascity.craigslist.org/') kansas city
              li
                a(href='http://kirksville.craigslist.org/') kirksville
              li
                a(href='http://loz.craigslist.org/') lake of the ozarks
              li
                a(href='http://semo.craigslist.org/') southeast missouri
              li
                a(href='http://springfield.craigslist.org/') springfield
              li
                a(href='http://stjoseph.craigslist.org/') st joseph
              li
                a(href='http://stlouis.craigslist.org/') st louis
          .box.box_3
            h4 Montana
            ul
              li
                a(href='http://billings.craigslist.org/') billings
              li
                a(href='http://bozeman.craigslist.org/') bozeman
              li
                a(href='http://butte.craigslist.org/') butte
              li
                a(href='http://greatfalls.craigslist.org/') great falls
              li
                a(href='http://helena.craigslist.org/') helena
              li
                a(href='http://kalispell.craigslist.org/') kalispell
              li
                a(href='http://missoula.craigslist.org/') missoula
              li
                a(href='http://montana.craigslist.org/') eastern montana
            h4 Nebraska
            ul
              li
                a(href='http://grandisland.craigslist.org/') grand island
              li
                a(href='http://lincoln.craigslist.org/') lincoln
              li
                a(href='http://northplatte.craigslist.org/') north platte
              li
                a(href='http://omaha.craigslist.org/') omaha / council bluffs
              li
                a(href='http://scottsbluff.craigslist.org/') scottsbluff / panhandle
            h4 Nevada
            ul
              li
                a(href='http://elko.craigslist.org/') elko
              li
                a(href='http://lasvegas.craigslist.org/') las vegas
              li
                a(href='http://reno.craigslist.org/') reno / tahoe
            h4 New Hampshire
            ul
              li
                a(href='http://nh.craigslist.org/') new hampshire
            h4 New Jersey
            ul
              li
                a(href='http://cnj.craigslist.org/') central NJ
              li
                a(href='http://jerseyshore.craigslist.org/') jersey shore
              li
                a(href='http://newjersey.craigslist.org/') north jersey
              li
                a(href='http://southjersey.craigslist.org/') south jersey
            h4 New Mexico
            ul
              li
                a(href='http://albuquerque.craigslist.org/') albuquerque
              li
                a(href='http://clovis.craigslist.org/') clovis / portales
              li
                a(href='http://farmington.craigslist.org/') farmington
              li
                a(href='http://lascruces.craigslist.org/') las cruces
              li
                a(href='http://roswell.craigslist.org/') roswell / carlsbad
              li
                a(href='http://santafe.craigslist.org/') santa fe / taos
            h4 New York
            ul
              li
                a(href='http://albany.craigslist.org/') albany
              li
                a(href='http://binghamton.craigslist.org/') binghamton
              li
                a(href='http://buffalo.craigslist.org/') buffalo
              li
                a(href='http://catskills.craigslist.org/') catskills
              li
                a(href='http://chautauqua.craigslist.org/') chautauqua
              li
                a(href='http://elmira.craigslist.org/') elmira-corning
              li
                a(href='http://fingerlakes.craigslist.org/') finger lakes
              li
                a(href='http://glensfalls.craigslist.org/') glens falls
              li
                a(href='http://hudsonvalley.craigslist.org/') hudson valley
              li
                a(href='http://ithaca.craigslist.org/') ithaca
              li
                a(href='http://longisland.craigslist.org/') long island
              li
                a(href='http://newyork.craigslist.org/') new york city
              li
                a(href='http://oneonta.craigslist.org/') oneonta
              li
                a(href='http://plattsburgh.craigslist.org/') plattsburgh-adirondacks
              li
                a(href='http://potsdam.craigslist.org/') potsdam-canton-massena
              li
                a(href='http://rochester.craigslist.org/') rochester
              li
                a(href='http://syracuse.craigslist.org/') syracuse
              li
                a(href='http://twintiers.craigslist.org/') twin tiers NY/PA
              li
                a(href='http://utica.craigslist.org/') utica-rome-oneida
              li
                a(href='http://watertown.craigslist.org/') watertown
            h4 North Carolina
            ul
              li
                a(href='http://asheville.craigslist.org/') asheville
              li
                a(href='http://boone.craigslist.org/') boone
              li
                a(href='http://charlotte.craigslist.org/') charlotte
              li
                a(href='http://eastnc.craigslist.org/') eastern NC
              li
                a(href='http://fayetteville.craigslist.org/') fayetteville
              li
                a(href='http://greensboro.craigslist.org/') greensboro
              li
                a(href='http://hickory.craigslist.org/') hickory / lenoir
              li
                a(href='http://onslow.craigslist.org/') jacksonville 
              li
                a(href='http://outerbanks.craigslist.org/') outer banks
              li
                a(href='http://raleigh.craigslist.org/') raleigh / durham / CH
              li
                a(href='http://wilmington.craigslist.org/') wilmington
              li
                a(href='http://winstonsalem.craigslist.org/') winston-salem
            h4 North Dakota
            ul
              li
                a(href='http://bismarck.craigslist.org/') bismarck
              li
                a(href='http://fargo.craigslist.org/') fargo / moorhead
              li
                a(href='http://grandforks.craigslist.org/') grand forks
              li
                a(href='http://nd.craigslist.org/') north dakota
            h4 Ohio
            ul
              li
                a(href='http://akroncanton.craigslist.org/') akron / canton
              li
                a(href='http://ashtabula.craigslist.org/') ashtabula
              li
                a(href='http://athensohio.craigslist.org/') athens 
              li
                a(href='http://chillicothe.craigslist.org/') chillicothe
              li
                a(href='http://cincinnati.craigslist.org/') cincinnati
              li
                a(href='http://cleveland.craigslist.org/') cleveland
              li
                a(href='http://columbus.craigslist.org/') columbus
              li
                a(href='http://dayton.craigslist.org/') dayton / springfield
              li
                a(href='http://limaohio.craigslist.org/') lima / findlay
              li
                a(href='http://mansfield.craigslist.org/') mansfield
              li
                a(href='http://sandusky.craigslist.org/') sandusky
              li
                a(href='http://toledo.craigslist.org/') toledo
              li
                a(href='http://tuscarawas.craigslist.org/') tuscarawas co
              li
                a(href='http://youngstown.craigslist.org/') youngstown
              li
                a(href='http://zanesville.craigslist.org/') zanesville / cambridge
            h4 Oklahoma
            ul
              li
                a(href='http://lawton.craigslist.org/') lawton
              li
                a(href='http://enid.craigslist.org/') northwest OK
              li
                a(href='http://oklahomacity.craigslist.org/') oklahoma city
              li
                a(href='http://stillwater.craigslist.org/') stillwater
              li
                a(href='http://tulsa.craigslist.org/') tulsa
            h4 Oregon
            ul
              li
                a(href='http://bend.craigslist.org/') bend
              li
                a(href='http://corvallis.craigslist.org/') corvallis/albany
              li
                a(href='http://eastoregon.craigslist.org/') east oregon
              li
                a(href='http://eugene.craigslist.org/') eugene
              li
                a(href='http://klamath.craigslist.org/') klamath falls
              li
                a(href='http://medford.craigslist.org/') medford-ashland
              li
                a(href='http://oregoncoast.craigslist.org/') oregon coast
              li
                a(href='http://portland.craigslist.org/') portland
              li
                a(href='http://roseburg.craigslist.org/') roseburg
              li
                a(href='http://salem.craigslist.org/') salem
            h4 Pennsylvania
            ul
              li
                a(href='http://altoona.craigslist.org/') altoona-johnstown
              li
                a(href='http://chambersburg.craigslist.org/') cumberland valley
              li
                a(href='http://erie.craigslist.org/') erie
              li
                a(href='http://harrisburg.craigslist.org/') harrisburg
              li
                a(href='http://lancaster.craigslist.org/') lancaster
              li
                a(href='http://allentown.craigslist.org/') lehigh valley
              li
                a(href='http://meadville.craigslist.org/') meadville
              li
                a(href='http://philadelphia.craigslist.org/') philadelphia
              li
                a(href='http://pittsburgh.craigslist.org/') pittsburgh
              li
                a(href='http://poconos.craigslist.org/') poconos
              li
                a(href='http://reading.craigslist.org/') reading
              li
                a(href='http://scranton.craigslist.org/') scranton / wilkes-barre
              li
                a(href='http://pennstate.craigslist.org/') state college
              li
                a(href='http://williamsport.craigslist.org/') williamsport
              li
                a(href='http://york.craigslist.org/') york
          .box.box_4
            h4 Rhode Island
            ul
              li
                a(href='http://providence.craigslist.org/') rhode island
            h4 South Carolina
            ul
              li
                a(href='http://charleston.craigslist.org/') charleston
              li
                a(href='http://columbia.craigslist.org/') columbia
              li
                a(href='http://florencesc.craigslist.org/') florence
              li
                a(href='http://greenville.craigslist.org/') greenville / upstate
              li
                a(href='http://hiltonhead.craigslist.org/') hilton head
              li
                a(href='http://myrtlebeach.craigslist.org/') myrtle beach
            h4 South Dakota
            ul
              li
                a(href='http://nesd.craigslist.org/') northeast SD
              li
                a(href='http://csd.craigslist.org/') pierre / central SD
              li
                a(href='http://rapidcity.craigslist.org/') rapid city / west SD
              li
                a(href='http://siouxfalls.craigslist.org/') sioux falls / SE SD
              li
                a(href='http://sd.craigslist.org/') south dakota
            h4 Tennessee
            ul
              li
                a(href='http://chattanooga.craigslist.org/') chattanooga
              li
                a(href='http://clarksville.craigslist.org/') clarksville
              li
                a(href='http://cookeville.craigslist.org/') cookeville
              li
                a(href='http://jacksontn.craigslist.org/') jackson  
              li
                a(href='http://knoxville.craigslist.org/') knoxville
              li
                a(href='http://memphis.craigslist.org/') memphis
              li
                a(href='http://nashville.craigslist.org/') nashville
              li
                a(href='http://tricities.craigslist.org/') tri-cities
            h4 Texas
            ul
              li
                a(href='http://abilene.craigslist.org/') abilene
              li
                a(href='http://amarillo.craigslist.org/') amarillo
              li
                a(href='http://austin.craigslist.org/') austin
              li
                a(href='http://beaumont.craigslist.org/') beaumont / port arthur
              li
                a(href='http://brownsville.craigslist.org/') brownsville
              li
                a(href='http://collegestation.craigslist.org/') college station
              li
                a(href='http://corpuschristi.craigslist.org/') corpus christi
              li
                a(href='http://dallas.craigslist.org/') dallas / fort worth
              li
                a(href='http://nacogdoches.craigslist.org/') deep east texas
              li
                a(href='http://delrio.craigslist.org/') del rio / eagle pass
              li
                a(href='http://elpaso.craigslist.org/') el paso
              li
                a(href='http://galveston.craigslist.org/') galveston
              li
                a(href='http://houston.craigslist.org/') houston
              li
                a(href='http://killeen.craigslist.org/') killeen / temple / ft hood
              li
                a(href='http://laredo.craigslist.org/') laredo
              li
                a(href='http://lubbock.craigslist.org/') lubbock
              li
                a(href='http://mcallen.craigslist.org/') mcallen / edinburg
              li
                a(href='http://odessa.craigslist.org/') odessa / midland
              li
                a(href='http://sanangelo.craigslist.org/') san angelo
              li
                a(href='http://sanantonio.craigslist.org/') san antonio
              li
                a(href='http://sanmarcos.craigslist.org/') san marcos
              li
                a(href='http://bigbend.craigslist.org/') southwest TX
              li
                a(href='http://texoma.craigslist.org/') texoma
              li
                a(href='http://easttexas.craigslist.org/') tyler / east TX
              li
                a(href='http://victoriatx.craigslist.org/') victoria 
              li
                a(href='http://waco.craigslist.org/') waco
              li
                a(href='http://wichitafalls.craigslist.org/') wichita falls
            h4 Utah
            ul
              li
                a(href='http://logan.craigslist.org/') logan
              li
                a(href='http://ogden.craigslist.org/') ogden-clearfield
              li
                a(href='http://provo.craigslist.org/') provo / orem
              li
                a(href='http://saltlakecity.craigslist.org/') salt lake city
              li
                a(href='http://stgeorge.craigslist.org/') st george
            h4 Vermont
            ul
              li
                a(href='http://burlington.craigslist.org/') vermont
            h4 Virginia
            ul
              li
                a(href='http://charlottesville.craigslist.org/') charlottesville
              li
                a(href='http://danville.craigslist.org/') danville
              li
                a(href='http://fredericksburg.craigslist.org/') fredericksburg
              li
                a(href='http://norfolk.craigslist.org/') hampton roads
              li
                a(href='http://harrisonburg.craigslist.org/') harrisonburg
              li
                a(href='http://lynchburg.craigslist.org/') lynchburg
              li
                a(href='http://blacksburg.craigslist.org/') new river valley
              li
                a(href='http://richmond.craigslist.org/') richmond
              li
                a(href='http://roanoke.craigslist.org/') roanoke
              li
                a(href='http://swva.craigslist.org/') southwest VA
              li
                a(href='http://winchester.craigslist.org/') winchester
            h4 Washington
            ul
              li
                a(href='http://bellingham.craigslist.org/') bellingham
              li
                a(href='http://kpr.craigslist.org/') kennewick-pasco-richland
              li
                a(href='http://moseslake.craigslist.org/') moses lake
              li
                a(href='http://olympic.craigslist.org/') olympic peninsula
              li
                a(href='http://pullman.craigslist.org/') pullman / moscow
              li
                a(href='http://seattle.craigslist.org/') seattle-tacoma
              li
                a(href='http://skagit.craigslist.org/') skagit / island / SJI
              li
                a(href='http://spokane.craigslist.org/') spokane / coeur d'alene
              li
                a(href='http://wenatchee.craigslist.org/') wenatchee
              li
                a(href='http://yakima.craigslist.org/') yakima
            h4 West Virginia
            ul
              li
                a(href='http://charlestonwv.craigslist.org/') charleston 
              li
                a(href='http://martinsburg.craigslist.org/') eastern panhandle
              li
                a(href='http://huntington.craigslist.org/') huntington-ashland
              li
                a(href='http://morgantown.craigslist.org/') morgantown
              li
                a(href='http://wheeling.craigslist.org/') northern panhandle
              li
                a(href='http://parkersburg.craigslist.org/') parkersburg-marietta
              li
                a(href='http://swv.craigslist.org/') southern WV
              li
                a(href='http://wv.craigslist.org/') west virginia (old)
            h4 Wisconsin
            ul
              li
                a(href='http://appleton.craigslist.org/') appleton-oshkosh-FDL
              li
                a(href='http://eauclaire.craigslist.org/') eau claire
              li
                a(href='http://greenbay.craigslist.org/') green bay
              li
                a(href='http://janesville.craigslist.org/') janesville
              li
                a(href='http://racine.craigslist.org/') kenosha-racine
              li
                a(href='http://lacrosse.craigslist.org/') la crosse
              li
                a(href='http://madison.craigslist.org/') madison
              li
                a(href='http://milwaukee.craigslist.org/') milwaukee
              li
                a(href='http://northernwi.craigslist.org/') northern WI
              li
                a(href='http://sheboygan.craigslist.org/') sheboygan
              li
                a(href='http://wausau.craigslist.org/') wausau
            h4 Wyoming
            ul
              li
                a(href='http://wyoming.craigslist.org/') wyoming
            h4 Territories
            ul
              li
                a(href='http://micronesia.craigslist.org/') guam-micronesia
              li
                a(href='http://puertorico.craigslist.org/') puerto rico
              li
                a(href='http://virgin.craigslist.org/') U.S. virgin islands
        h1
          a(name='CA')
          | Canada
        .colmask
          .box.box_1
            h4 Alberta
            ul
              li
                a(href='http://calgary.craigslist.ca/') calgary
              li
                a(href='http://edmonton.craigslist.ca/') edmonton
              li
                a(href='http://ftmcmurray.craigslist.ca/') ft mcmurray
              li
                a(href='http://lethbridge.craigslist.ca/') lethbridge
              li
                a(href='http://hat.craigslist.ca/') medicine hat
              li
                a(href='http://peace.craigslist.ca/') peace river country
              li
                a(href='http://reddeer.craigslist.ca/') red deer
            h4 British Columbia
            ul
              li
                a(href='http://cariboo.craigslist.ca/') cariboo
              li
                a(href='http://comoxvalley.craigslist.ca/') comox valley
              li
                a(href='http://abbotsford.craigslist.ca/') fraser valley
              li
                a(href='http://kamloops.craigslist.ca/') kamloops
              li
                a(href='http://kelowna.craigslist.ca/') kelowna / okanagan
              li
                a(href='http://cranbrook.craigslist.ca/') kootenays
              li
                a(href='http://nanaimo.craigslist.ca/') nanaimo
              li
                a(href='http://princegeorge.craigslist.ca/') prince george
              li
                a(href='http://skeena.craigslist.ca/') skeena-bulkley
              li
                a(href='http://sunshine.craigslist.ca/') sunshine coast
              li
                a(href='http://vancouver.craigslist.ca/') vancouver
              li
                a(href='http://victoria.craigslist.ca/') victoria
              li
                a(href='http://whistler.craigslist.ca/') whistler
          .box.box_2
            h4 Manitoba
            ul
              li
                a(href='http://winnipeg.craigslist.ca/') winnipeg
            h4 New Brunswick
            ul
              li
                a(href='http://newbrunswick.craigslist.ca/') new brunswick
            h4 Newfoundland and Labrador
            ul
              li
                a(href='http://newfoundland.craigslist.ca/') st john's
            h4 Northwest Territories
            ul
              li
                a(href='http://territories.craigslist.ca/') territories
              li
                a(href='http://yellowknife.craigslist.ca/') yellowknife
            h4 Nova Scotia
            ul
              li
                a(href='http://halifax.craigslist.ca/') halifax
          .box.box_3
            h4 Ontario
            ul
              li
                a(href='http://barrie.craigslist.ca/') barrie
              li
                a(href='http://belleville.craigslist.ca/') belleville
              li
                a(href='http://brantford.craigslist.ca/') brantford-woodstock
              li
                a(href='http://chatham.craigslist.ca/') chatham-kent
              li
                a(href='http://cornwall.craigslist.ca/') cornwall
              li
                a(href='http://guelph.craigslist.ca/') guelph
              li
                a(href='http://hamilton.craigslist.ca/') hamilton-burlington
              li
                a(href='http://kingston.craigslist.ca/') kingston
              li
                a(href='http://kitchener.craigslist.ca/') kitchener-waterloo-cambridge
              li
                a(href='http://londonon.craigslist.ca/') london 
              li
                a(href='http://niagara.craigslist.ca/') niagara region
              li
                a(href='http://ottawa.craigslist.ca/') ottawa-hull-gatineau
              li
                a(href='http://owensound.craigslist.ca/') owen sound
              li
                a(href='http://peterborough.craigslist.ca/') peterborough
              li
                a(href='http://sarnia.craigslist.ca/') sarnia
              li
                a(href='http://soo.craigslist.ca/') sault ste marie
              li
                a(href='http://sudbury.craigslist.ca/') sudbury
              li
                a(href='http://thunderbay.craigslist.ca/') thunder bay
              li
                a(href='http://toronto.craigslist.ca/') toronto
              li
                a(href='http://windsor.craigslist.ca/') windsor
          .box.box_4
            h4 Prince Edward Island
            ul
              li
                a(href='http://pei.craigslist.ca/') prince edward island
            h4 Quebec
            ul
              li
                a(href='http://montreal.craigslist.ca/') montreal
              li
                a(href='http://quebec.craigslist.ca/') quebec city
              li
                a(href='http://saguenay.craigslist.ca/') saguenay
              li
                a(href='http://sherbrooke.craigslist.ca/') sherbrooke
              li
                a(href='http://troisrivieres.craigslist.ca/') trois-rivieres
            h4 Saskatchewan
            ul
              li
                a(href='http://regina.craigslist.ca/') regina
              li
                a(href='http://saskatoon.craigslist.ca/') saskatoon
            h4 Yukon Territory
            ul
              li
                a(href='http://whitehorse.craigslist.ca/') whitehorse
        h1
          a(name='EU')
          | Europe
        .colmask
          .box.box_1
            h4 Austria
            ul
              li
                a(href='http://vienna.craigslist.at/') vienna
            h4 Belgium
            ul
              li
                a(href='http://brussels.craigslist.org/') belgium
            h4 Bulgaria
            ul
              li
                a(href='http://bulgaria.craigslist.org/') bulgaria
            h4 Croatia
            ul
              li
                a(href='http://zagreb.craigslist.org/') croatia
            h4 Czech Republic
            ul
              li
                a(href='http://prague.craigslist.cz/') prague
            h4 Denmark
            ul
              li
                a(href='http://copenhagen.craigslist.org/') copenhagen
            h4 Finland
            ul
              li
                a(href='http://helsinki.craigslist.fi/') finland
            h4 France
            ul
              li
                a(href='http://bordeaux.craigslist.org/') bordeaux
              li
                a(href='http://rennes.craigslist.org/') brittany
              li
                a(href='http://grenoble.craigslist.org/') grenoble
              li
                a(href='http://lille.craigslist.org/') lille
              li
                a(href='http://loire.craigslist.org/') loire valley
              li
                a(href='http://lyon.craigslist.org/') lyon
              li
                a(href='http://marseilles.craigslist.org/') marseille
              li
                a(href='http://montpellier.craigslist.org/') montpellier
              li
                a(href='http://cotedazur.craigslist.org/') nice / cote d'azur
              li
                a(href='http://rouen.craigslist.org/') normandy
              li
                a(href='http://paris.craigslist.org/') paris
              li
                a(href='http://strasbourg.craigslist.org/') strasbourg
              li
                a(href='http://toulouse.craigslist.org/') toulouse
          .box.box_2
            h4 Germany
            ul
              li
                a(href='http://berlin.craigslist.de/') berlin
              li
                a(href='http://bremen.craigslist.de/') bremen
              li
                a(href='http://cologne.craigslist.de/') cologne
              li
                a(href='http://dresden.craigslist.de/') dresden
              li
                a(href='http://dusseldorf.craigslist.de/') dusseldorf
              li
                a(href='http://essen.craigslist.de/') essen / ruhr
              li
                a(href='http://frankfurt.craigslist.de/') frankfurt
              li
                a(href='http://hamburg.craigslist.de/') hamburg
              li
                a(href='http://hannover.craigslist.de/') hannover
              li
                a(href='http://heidelberg.craigslist.de/') heidelberg
              li
                a(href='http://kaiserslautern.craigslist.de/') kaiserslautern
              li
                a(href='http://leipzig.craigslist.de/') leipzig
              li
                a(href='http://munich.craigslist.de/') munich
              li
                a(href='http://nuremberg.craigslist.de/') nuremberg
              li
                a(href='http://stuttgart.craigslist.de/') stuttgart
            h4 Greece
            ul
              li
                a(href='http://athens.craigslist.gr/') greece
            h4 Hungary
            ul
              li
                a(href='http://budapest.craigslist.org/') budapest
            h4 Iceland
            ul
              li
                a(href='http://reykjavik.craigslist.org/') reykjavik
            h4 Ireland
            ul
              li
                a(href='http://dublin.craigslist.org/') dublin
            h4 Italy
            ul
              li
                a(href='http://bologna.craigslist.it/') bologna
              li
                a(href='http://florence.craigslist.it/') florence / tuscany
              li
                a(href='http://genoa.craigslist.it/') genoa
              li
                a(href='http://milan.craigslist.it/') milan
              li
                a(href='http://naples.craigslist.it/') napoli / campania
              li
                a(href='http://perugia.craigslist.it/') perugia
              li
                a(href='http://rome.craigslist.it/') rome
              li
                a(href='http://sardinia.craigslist.it/') sardinia
              li
                a(href='http://sicily.craigslist.it/') sicilia
              li
                a(href='http://torino.craigslist.it/') torino
              li
                a(href='http://venice.craigslist.it/') venice / veneto
          .box.box_3
            h4 Luxembourg
            ul
              li
                a(href='http://luxembourg.craigslist.org/') luxembourg
            h4 Netherlands
            ul
              li
                a(href='http://amsterdam.craigslist.org/') amsterdam / randstad
            h4 Norway
            ul
              li
                a(href='http://oslo.craigslist.org/') norway
            h4 Poland
            ul
              li
                a(href='http://warsaw.craigslist.pl/') poland
            h4 Portugal
            ul
              li
                a(href='http://faro.craigslist.pt/') faro / algarve
              li
                a(href='http://lisbon.craigslist.pt/') lisbon
              li
                a(href='http://porto.craigslist.pt/') porto
            h4 Romania
            ul
              li
                a(href='http://bucharest.craigslist.org/') romania
            h4 Russian Federation
            ul
              li
                a(href='http://moscow.craigslist.org/') moscow
              li
                a(href='http://stpetersburg.craigslist.org/') st petersburg
            h4 Spain
            ul
              li
                a(href='http://alicante.craigslist.es/') alicante
              li
                a(href='http://baleares.craigslist.es/') baleares
              li
                a(href='http://barcelona.craigslist.es/') barcelona
              li
                a(href='http://bilbao.craigslist.es/') bilbao
              li
                a(href='http://cadiz.craigslist.es/') cadiz
              li
                a(href='http://canarias.craigslist.es/') canarias
              li
                a(href='http://granada.craigslist.es/') granada
              li
                a(href='http://madrid.craigslist.es/') madrid
              li
                a(href='http://malaga.craigslist.es/') malaga
              li
                a(href='http://sevilla.craigslist.es/') sevilla
              li
                a(href='http://valencia.craigslist.es/') valencia
          .box.box_4
            h4 Sweden
            ul
              li
                a(href='http://stockholm.craigslist.se/') sweden
            h4 Switzerland
            ul
              li
                a(href='http://basel.craigslist.ch/') basel
              li
                a(href='http://bern.craigslist.ch/') bern
              li
                a(href='http://geneva.craigslist.ch/') geneva
              li
                a(href='http://lausanne.craigslist.ch/') lausanne
              li
                a(href='http://zurich.craigslist.ch/') zurich
            h4 Turkey
            ul
              li
                a(href='http://istanbul.craigslist.com.tr/') turkey
            h4 Ukraine
            ul
              li
                a(href='http://ukraine.craigslist.org/') ukraine
            h4 United Kingdom
            ul
              li
                a(href='http://aberdeen.craigslist.co.uk/') aberdeen
              li
                a(href='http://bath.craigslist.co.uk/') bath
              li
                a(href='http://belfast.craigslist.co.uk/') belfast
              li
                a(href='http://birmingham.craigslist.co.uk/') birmingham / west mids
              li
                a(href='http://brighton.craigslist.co.uk/') brighton
              li
                a(href='http://bristol.craigslist.co.uk/') bristol
              li
                a(href='http://cambridge.craigslist.co.uk/') cambridge, UK
              li
                a(href='http://cardiff.craigslist.co.uk/') cardiff / wales
              li
                a(href='http://coventry.craigslist.co.uk/') coventry
              li
                a(href='http://derby.craigslist.co.uk/') derby
              li
                a(href='http://devon.craigslist.co.uk/') devon & cornwall
              li
                a(href='http://dundee.craigslist.co.uk/') dundee
              li
                a(href='http://norwich.craigslist.co.uk/') east anglia
              li
                a(href='http://eastmids.craigslist.co.uk/') east midlands
              li
                a(href='http://edinburgh.craigslist.co.uk/') edinburgh
              li
                a(href='http://essex.craigslist.co.uk/') essex
              li
                a(href='http://glasgow.craigslist.co.uk/') glasgow
              li
                a(href='http://hampshire.craigslist.co.uk/') hampshire
              li
                a(href='http://kent.craigslist.co.uk/') kent
              li
                a(href='http://leeds.craigslist.co.uk/') leeds
              li
                a(href='http://liverpool.craigslist.co.uk/') liverpool
              li
                a(href='http://london.craigslist.co.uk/') london
              li
                a(href='http://manchester.craigslist.co.uk/') manchester
              li
                a(href='http://newcastle.craigslist.co.uk/') newcastle / NE england
              li
                a(href='http://nottingham.craigslist.co.uk/') nottingham
              li
                a(href='http://oxford.craigslist.co.uk/') oxford
              li
                a(href='http://sheffield.craigslist.co.uk/') sheffield
        h1
          a(name='ASIA')
          | Asia, Pacific and Middle East
        .colmask
          .box.box_1
            h4 Bangladesh
            ul
              li
                a(href='http://bangladesh.craigslist.org/') bangladesh
            h4 China
            ul
              li
                a(href='http://beijing.craigslist.com.cn/') beijing
              li
                a(href='http://chengdu.craigslist.com.cn/') chengdu
              li
                a(href='http://chongqing.craigslist.com.cn/') chongqing
              li
                a(href='http://dalian.craigslist.com.cn/') dalian
              li
                a(href='http://guangzhou.craigslist.com.cn/') guangzhou
              li
                a(href='http://hangzhou.craigslist.com.cn/') hangzhou
              li
                a(href='http://nanjing.craigslist.com.cn/') nanjing
              li
                a(href='http://shanghai.craigslist.com.cn/') shanghai
              li
                a(href='http://shenyang.craigslist.com.cn/') shenyang
              li
                a(href='http://shenzhen.craigslist.com.cn/') shenzhen
              li
                a(href='http://wuhan.craigslist.com.cn/') wuhan
              li
                a(href='http://xian.craigslist.com.cn/') xi'an
            h4 Guam / Micronesia
            ul
              li
                a(href='http://micronesia.craigslist.org/') guam-micronesia
            h4 Hong Kong
            ul
              li
                a(href='http://hongkong.craigslist.hk/') hong kong
          .box.box_2
            h4 India
            ul
              li
                a(href='http://ahmedabad.craigslist.co.in/') ahmedabad
              li
                a(href='http://bangalore.craigslist.co.in/') bangalore
              li
                a(href='http://bhubaneswar.craigslist.co.in/') bhubaneswar
              li
                a(href='http://chandigarh.craigslist.co.in/') chandigarh
              li
                a(href='http://chennai.craigslist.co.in/') chennai (madras)
              li
                a(href='http://delhi.craigslist.co.in/') delhi
              li
                a(href='http://goa.craigslist.co.in/') goa
              li
                a(href='http://hyderabad.craigslist.co.in/') hyderabad
              li
                a(href='http://indore.craigslist.co.in/') indore
              li
                a(href='http://jaipur.craigslist.co.in/') jaipur
              li
                a(href='http://kerala.craigslist.co.in/') kerala
              li
                a(href='http://kolkata.craigslist.co.in/') kolkata (calcutta)
              li
                a(href='http://lucknow.craigslist.co.in/') lucknow
              li
                a(href='http://mumbai.craigslist.co.in/') mumbai
              li
                a(href='http://pune.craigslist.co.in/') pune
              li
                a(href='http://surat.craigslist.co.in/') surat surat
            h4 Indonesia
            ul
              li
                a(href='http://jakarta.craigslist.org/') indonesia
            h4 Iran
            ul
              li
                a(href='http://tehran.craigslist.org/') iran
            h4 Iraq
            ul
              li
                a(href='http://baghdad.craigslist.org/') iraq
            h4 Israel and Palestine
            ul
              li
                a(href='http://haifa.craigslist.org/') haifa
              li
                a(href='http://jerusalem.craigslist.org/') jerusalem
              li
                a(href='http://telaviv.craigslist.org/') tel aviv
              li
                a(href='http://ramallah.craigslist.org/') west bank
          .box.box_3
            h4 Japan
            ul
              li
                a(href='http://fukuoka.craigslist.jp/') fukuoka
              li
                a(href='http://hiroshima.craigslist.jp/') hiroshima
              li
                a(href='http://nagoya.craigslist.jp/') nagoya
              li
                a(href='http://okinawa.craigslist.jp/') okinawa
              li
                a(href='http://osaka.craigslist.jp/') osaka-kobe-kyoto
              li
                a(href='http://sapporo.craigslist.jp/') sapporo
              li
                a(href='http://sendai.craigslist.jp/') sendai
              li
                a(href='http://tokyo.craigslist.jp/') tokyo
            h4 Korea
            ul
              li
                a(href='http://seoul.craigslist.co.kr/') seoul
            h4 Kuwait
            ul
              li
                a(href='http://kuwait.craigslist.org/') kuwait
            h4 Lebanon
            ul
              li
                a(href='http://beirut.craigslist.org/') beirut, lebanon
            h4 Malaysia
            ul
              li
                a(href='http://malaysia.craigslist.org/') malaysia
            h4 Pakistan
            ul
              li
                a(href='http://pakistan.craigslist.org/') pakistan
          .box.box_4
            h4 Philippines
            ul
              li
                a(href='http://bacolod.craigslist.com.ph/') bacolod
              li
                a(href='http://naga.craigslist.com.ph/') bicol region
              li
                a(href='http://cdo.craigslist.com.ph/') cagayan de oro
              li
                a(href='http://cebu.craigslist.com.ph/') cebu
              li
                a(href='http://davaocity.craigslist.com.ph/') davao city
              li
                a(href='http://iloilo.craigslist.com.ph/') iloilo
              li
                a(href='http://manila.craigslist.com.ph/') manila
              li
                a(href='http://pampanga.craigslist.com.ph/') pampanga
              li
                a(href='http://zamboanga.craigslist.com.ph/') zamboanga
            h4 Singapore
            ul
              li
                a(href='http://singapore.craigslist.com.sg/') singapore
            h4 Taiwan
            ul
              li
                a(href='http://taipei.craigslist.com.tw/') taiwan
            h4 Thailand
            ul
              li
                a(href='http://bangkok.craigslist.co.th/') thailand
            h4 United Arab Emirates
            ul
              li
                a(href='http://dubai.craigslist.org/') united arab emirates
            h4 Vietnam
            ul
              li
                a(href='http://vietnam.craigslist.org/') vietnam
        h1
          a(name='OCEANIA')
          | Oceania
        .colmask
          .box.box_1
            h4 Australia
            ul
              li
                a(href='http://adelaide.craigslist.com.au/') adelaide
              li
                a(href='http://brisbane.craigslist.com.au/') brisbane
              li
                a(href='http://cairns.craigslist.com.au/') cairns
              li
                a(href='http://canberra.craigslist.com.au/') canberra
              li
                a(href='http://darwin.craigslist.com.au/') darwin
              li
                a(href='http://goldcoast.craigslist.com.au/') gold coast
              li
                a(href='http://melbourne.craigslist.com.au/') melbourne
              li
                a(href='http://ntl.craigslist.com.au/') newcastle, NSW
              li
                a(href='http://perth.craigslist.com.au/') perth
              li
                a(href='http://sydney.craigslist.com.au/') sydney
              li
                a(href='http://hobart.craigslist.com.au/') tasmania
              li
                a(href='http://wollongong.craigslist.com.au/') wollongong
          .box.box_2
            h4 New Zealand
            ul
              li
                a(href='http://auckland.craigslist.org/') auckland
              li
                a(href='http://christchurch.craigslist.org/') christchurch
              li
                a(href='http://dunedin.craigslist.co.nz/') dunedin
              li
                a(href='http://wellington.craigslist.org/') wellington
          .box.box_3  
        h1
          a(name='LATAM')
          | Latin America and Caribbean
        .colmask
          .box.box_1
            h4 Argentina
            ul
              li
                a(href='http://buenosaires.craigslist.org/') buenos aires
            h4 Bolivia
            ul
              li
                a(href='http://lapaz.craigslist.org/') bolivia
            h4 Brazil
            ul
              li
                a(href='http://belohorizonte.craigslist.org/') belo horizonte
              li
                a(href='http://brasilia.craigslist.org/') brasilia
              li
                a(href='http://curitiba.craigslist.org/') curitiba
              li
                a(href='http://fortaleza.craigslist.org/') fortaleza
              li
                a(href='http://portoalegre.craigslist.org/') porto alegre
              li
                a(href='http://recife.craigslist.org/') recife
              li
                a(href='http://rio.craigslist.org/') rio de janeiro
              li
                a(href='http://salvador.craigslist.org/') salvador, bahia
              li
                a(href='http://saopaulo.craigslist.org/') sao paulo
            h4 Caribbean Islands
            ul
              li
                a(href='http://caribbean.craigslist.org/') caribbean islands
          .box.box_2
            h4 Chile
            ul
              li
                a(href='http://santiago.craigslist.org/') chile
            h4 Colombia
            ul
              li
                a(href='http://colombia.craigslist.org/') colombia
            h4 Costa Rica
            ul
              li
                a(href='http://costarica.craigslist.org/') costa rica
            h4 Dominican Republic
            ul
              li
                a(href='http://santodomingo.craigslist.org/') dominican republic
            h4 Ecuador
            ul
              li
                a(href='http://quito.craigslist.org/') ecuador
            h4 El Salvador
            ul
              li
                a(href='http://elsalvador.craigslist.org/') el salvador
          .box.box_3
            h4 Guatemala
            ul
              li
                a(href='http://guatemala.craigslist.org/') guatemala
            h4 Mexico
            ul
              li
                a(href='http://acapulco.craigslist.com.mx/') acapulco
              li
                a(href='http://bajasur.craigslist.com.mx/') baja california sur
              li
                a(href='http://chihuahua.craigslist.com.mx/') chihuahua
              li
                a(href='http://juarez.craigslist.com.mx/') ciudad juarez
              li
                a(href='http://guadalajara.craigslist.com.mx/') guadalajara
              li
                a(href='http://guanajuato.craigslist.com.mx/') guanajuato
              li
                a(href='http://hermosillo.craigslist.com.mx/') hermosillo
              li
                a(href='http://mazatlan.craigslist.com.mx/') mazatlan
              li
                a(href='http://mexicocity.craigslist.com.mx/') mexico city
              li
                a(href='http://monterrey.craigslist.com.mx/') monterrey
              li
                a(href='http://oaxaca.craigslist.com.mx/') oaxaca
              li
                a(href='http://puebla.craigslist.com.mx/') puebla
              li
                a(href='http://indiadilse.com/indian-roommates-in/PuertoVallarta,Mexico') puerto vallarta
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tijuana,Mexico') tijuana
              li
                a(href='http://indiadilse.com/indian-roommates-in/Veracruz,Mexico') veracruz
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yucatan,Mexico') yucatan
            h4 Nicaragua
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nicaragua') nicaragua
          .box.box_4
            h4 Panama
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Panama') panama
            h4 Peru
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Peru') peru
            h4 Puerto Rico
            ul
              li
                a(href='http://puertorico.craigslist.org/') puerto rico
            h4 Uruguay
            ul
              li
                a(href='http://montevideo.craigslist.org/') montevideo
            h4 Venezuela
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Venezuela') venezuela
            h4 Virgin Islands, U.S.
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/VirginIslands') virgin islands
        h1
          a(name='AF')
          | Africa
        .colmask
          .box.box_1
            h4 Egypt
            ul
              li
                a(href='http://indiadilse.com') egypt
            h4 Ethiopia
            ul
              li
                a(href='http://indiadilse.com') ethiopia
          .box.box_2
            h4 Ghana
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ghana') ghana
            h4 Kenya
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kenya') kenya
          .box.box_3
            h4 Morocco
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Morocco') morocco
            h4 South Africa
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/CapeTown,WesternCape,SouthAfrica') cape town
              li
                a(href='http://indiadilse.com/indian-roommates-in/Durban,KwaZulu-Natal,SouthAfrica') durban
              li
                a(href='http://indiadilse.com/indian-roommates-in/Johannesburg,Gauteng,SouthAfrica') johannesburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pretoria,Gauteng,SouthAfrica') pretoria
          .box.box_4
           




