extends ../layouts/default

block main
  //- h1= title
  .row-fluid.span12
      h1.maroon Welcome to IndiaDilse!
      p.homepara  Serving Indian community Worldwide!
    ul.inline
      li
        p.muted
          a(href='/articles/') Articles
      li
        p.muted
          a(href='/rooms/') Rooms
    ul.inline
      li
        p.muted
          a(href='/tags/jalandhar') Rooms in Jalandhar


       h1
          a(name='US')
          | US
        .colmask
          .box.box_1
            h4 Alabama
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Auburn,AL') auburn
              li
                a(href='http://indiadilse.com/indian-roommates-in/Birmingham,AL') birmingham
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dothan,AL') dothan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Florence,AL') florence / muscle shoals
              li
                a(href='http://indiadilse.com/indian-roommates-in/Gadsden,AL') gadsden-anniston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Huntsville,AL') huntsville / decatur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Decatur,AL') decatur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mobile,AL') mobile
              li
                a(href='http://indiadilse.com/indian-roommates-in/Montgomery,AL') montgomery
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tuscaloosa,AL') tuscaloosa
            h4 Alaska
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Anchorage,AK') anchorage / mat-su
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fairbanks,AK') fairbanks
              li
                a(href='http://indiadilse.com/indian-roommates-in/KenaiPeninsula,AK') kenai peninsula

            h4 Arizona
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Flagstaff,AZ') Flagstaff
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sedona,AZ') sedona
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mohave,AZ') mohave county
              li
                a(href='http://indiadilse.com/indian-roommates-in/Phoenix,AZ') phoenix
              li
                a(href='http://indiadilse.com/indian-roommates-in/Prescott,AZ') prescott
              li
                a(href='http://indiadilse.com/indian-roommates-in/ShowLow,AZ') show low
              li
                a(href='http://indiadilse.com/indian-roommates-in/SierraVista,AZ') sierra vista
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tucson,AZ') tucson
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yuma,AZ') yuma
            h4 Arkansas
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fayetteville,AR') fayetteville 
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortSmith,AR') fort smith
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jonesboro,AR') jonesboro
              li
                a(href='http://indiadilse.com/indian-roommates-in/LittleRock,AR') little rock
              li
                a(href='http://indiadilse.com/indian-roommates-in/Texarkana,AR') texarkana
            h4 California
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bakersfield,CA') bakersfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chico,CA') chico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fresno,CA') fresno / madera
              li
                a(href='http://indiadilse.com/indian-roommates-in/GoldCountryBlvd,GoldRiver,CA') gold country
              li
                a(href='http://indiadilse.com/indian-roommates-in/GoldCountryCt,Salida,CA') GoldCountryCt, Salida
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hanford,CA') hanford
              li
                a(href='http://indiadilse.com/indian-roommates-in/Humboldt,CA') humboldt county
              li
                a(href='http://indiadilse.com/indian-roommates-in/ImperialCounty,CA') imperial county
              li
                a(href='http://indiadilse.com/indian-roommates-in/LosAngeles,CA') los angeles
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mendocino,CA') mendocino
              li
                a(href='http://indiadilse.com/indian-roommates-in/Merced,CA') merced
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monterey,CA') modesto
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monterey,CA') monterey bay, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/OrangeCounty,CA') orange county, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/PalmSprings,CA') palm springs, ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/Redding,CA') redding
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sacramento,CA') sacramento
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanDiego,CA') san diego
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanFrancisco,CA') san francisco bay area
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanLuisObispo,CA') san luis obispo
              li
                a(href='http://indiadilse.com/indian-roommates-in/SantaBarbara,CA') santa barbara
              li
                a(href='http://indiadilse.com/indian-roommates-in/SantaMaria,CA') santa maria
              li
                a(href='http://indiadilse.com/indian-roommates-in/Siskiyou,CA') siskiyou ca
              li
                a(href='http://indiadilse.com/indian-roommates-in/Stockton,CA') stockton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Susanville,CA') susanville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ventura,CA') Ventura, CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ventura,CA') Ventura, CA  

              li
                a(href='http://indiadilse.com/indian-roommates-in/Visalia,CA') Visalia,CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/Visalia,Irvine,CA') Visalia,Irvine,CA
              li
                a(href='http://indiadilse.com/indian-roommates-in/YubaCity,CA') yuba city
            h4 Colorado
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Boulder,CO') boulder
              li
                a(href='http://indiadilse.com/indian-roommates-in/ColoradoSprings,CO') colorado springs
              li
                a(href='http://indiadilse.com/indian-roommates-in/Denver,CO') denver
              li
                a(href='http://indiadilse.com') eastern CO
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortCollins,CO') fort collins / north CO
              li
                a(href='http://indiadilse.com') high rockies
              li
                a(href='http://indiadilse.com/indian-roommates-in/Puebla,Mexico') pueblo
              li
                a(href='http://indiadilse.com/indian-roommates-in/WesternSlopeMine,Nederland,CO') western slope
            h4 Connecticut
            ul
              //- li
              //-   a(href='http://newlondon.craigslist.org/') eastern CT
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hartford,CT') hartford
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewHaven,CT') new haven
              //- li
              //-   a(href='http://nwct.craigslist.org/') northwest CT
            h4 Delaware
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Delaware') delaware
            h4 District of Columbia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Washington,DC') washington
            h4 Florida
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/DaytonaBeach,FL') daytona beach
              li
                a(href='http://indiadilse.com/indian-roommates-in/FloridaKeys,Monroe,FL') florida keys
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortLauderdale,FL') fort lauderdale
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortMyers,FL') ft myers / SW florida
              li
                a(href='http://indiadilse.com/indian-roommates-in/GainsvilleDrive,Tampa,FL') gainesville
              li
                a(href='http://indiadilse.com/indian-roommates-in/HeartlandBoulevard,LakePlacid,Florida') heartland florida
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jacksonville,FL') jacksonville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jacksonville,FL') lakeland
              li
                a(href='http://indiadilse.com/indian-roommates-in/CentralFloridaParkway,Williamsburg,FL,NorthAmerica') north central FL
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ocala,FL') ocala
              li
                a(href='http://indiadilse.com/indian-roommates-in/Okaloosa,FL') okaloosa / walton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Orlando,FL') orlando
              li
                a(href='http://indiadilse.com/indian-roommates-in/PanamaCity,FL') panama city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pensacola,FL') pensacola
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sarasota,FL') sarasota-bradenton   
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bradenton,FL') bradenton
              li
                a(href='http://indiadilse.com/indian-roommates-in/SouthFloridaAvenue,Lakeland,FL') south florida
              li
                a(href='http://indiadilse.com/indian-roommates-in/SpaceCoastParkway,Melbourne,FL') space coast
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.Augustine,FL') st augustine
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tallahassee,FL') tallahassee
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tampa,FL') tampa bay area
              li
                a(href='http://indiadilse.com/indian-roommates-in/TreasureCoastPlaza,VeroBeach,FL') treasure coast
              li
                a(href='http://indiadilse.com/indian-roommates-in/WestPalmBeach,FL') west palm beach
            h4 Georgia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Albany,GA') albany 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Athens,GA') athens
              li
                a(href='http://indiadilse.com/indian-roommates-in/Atlanta,GA') atlanta
              li
                a(href='http://indiadilse.com/indian-roommates-in/Augusta,GA') augusta
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brunswick,GA') brunswick
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brunswick,GA') columbus 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Macon,GA') macon  
              li
                a(href='http://indiadilse.com/indian-roommates-in/WarnerRobins,GA') warner robins

              li
                a(href='http://indiadilse.com/indian-roommates-in/Hinesville,GA') hinesville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Savannah,GA') savannah 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Statesboro,GA') statesboro
              li
                a(href='http://indiadilse.com/indian-roommates-in/Valdosta,GA') valdosta
            h4 Hawaii
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hawaii') hawaii
            h4 Idaho
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Boise,ID') boise
              li
                a(href='http://indiadilse.com/indian-roommates-in/EastBoiseAvenue,Boise,ID') east idaho
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lewiston,ID') lewiston 
              
              li
                a(href='http://indiadilse.com/indian-roommates-in/Clarkston,ID')  clarkston  
              li
                a(href='http://indiadilse.com/indian-roommates-in/TwinFalls,ID') twin falls
          .box.box_2
            h4 Illinois
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bloomington,IL') bloomington
              li
                a(href='http://indiadilse.com/indian-roommates-in/Champaign,IL') champaign 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chicago,IL') chicago
              li
                a(href='http://indiadilse.com/indian-roommates-in/Decatur,IL') decatur
              li
                a(href='http://indiadilse.com/indian-roommates-in/LaSalle,IL') la salle 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mattoon,IL') mattoon-
              li
                a(href='  http://indiadilse.com/indian-roommates-in/Charleston,IL ') charleston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Peoria,IL') peoria
              li
                a(href='http://indiadilse.com/indian-roommates-in/Rockford,IL') rockford
              li
                a(href='http://indiadilse.com/indian-roommates-in/Southern,Illinois') southern illinois
              li
                a(href='http://indiadilse.com/indian-roommates-in/Springfield,IL') springfield 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Western,IL') western IL
            h4 Indiana
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bloomington,IN') bloomington
              li
                a(href='http://indiadilse.com/indian-roommates-in/Evansville,IN') evansville
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortWayne,IN') fort wayne
              li
                a(href='http://indiadilse.com/indian-roommates-in/Indianapolis,IN') indianapolis
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kokomo,IN') kokomo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lafayette,IN') lafayette 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Muncie,IN') muncie / anderson  http://indiadilse.com/indian-roommates-in/Anderson,IN
              li
                a(href='http://indiadilse.com/indian-roommates-in/Anderson,IN') anderson
         
              li
                a(href='http://indiadilse.com/indian-roommates-in/Richmond,IN') richmond 
              li
                a(href='http://indiadilse.com/indian-roommates-in/MichianaShores,IN')  michiana   http://indiadilse.com/indian-roommates-in/SouthBend,IN
              li
                a(href='http://indiadilse.com/indian-roommates-in/SouthBend,IN') south bend

              li
                a(href='http://indiadilse.com/indian-roommates-in/TerreHaute,IN') terre haute
            h4 Iowa
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ames,IA') ames
              li
                a(href='http://indiadilse.com/indian-roommates-in/CedarRapids,IA') cedar rapids
              li
                a(href='http://indiadilse.com/indian-roommates-in/DesMoines,IA') des moines
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dubuque,IA') dubuque
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortDodge,IA') fort dodge
              li
                a(href='http://indiadilse.com/indian-roommates-in/IowaCity,IA') iowa city
              li
                a(href='http://indiadilse.com/indian-roommates-in/MasonCity,IA') mason city
              li
                a(href='http://indiadilse.com/indian-roommates-in/CedarFalls,IA') cedar falls
              li
                a(href='http://indiadilse.com/indian-roommates-in/SiouxCity,IA') sioux city
              li
                a(href='http://indaidilse.com') southeast IA
              li
                a(href='http://indiadilse.com/indian-roommates-in/waterloo,ia') waterloo 
            h4 Kansas
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lawrence,KS') lawrence
              li
                a(href='http://indiadilse.com/indian-roommates-in/Manhattan,KS') manhattan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Northwest,KansasCity,KS') northwest KS
              li
                a(href='http://indiadilse.com/indian-roommates-in/Salina,KS') salina
              li
                a(href='http://indiadilse.com/indian-roommates-in/SoutheastKansasPlace,Topeka,KS') southeast KS
              //- li
              //-   a(href='http://swks.craigslist.org/') southwest KS
              li
                a(href='http://indiadilse.com/indian-roommates-in/Topeka,KS') topeka
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wichita,KS') wichita
            h4 Kentucky
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/BowlingGreen,KY') bowling green
              li
                a(href='http://indiadilse.com/indian-roommates-in/Eastern,Kentucky') eastern kentucky
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lexington,KY') lexington
              li
                a(href='http://indiadilse.com/indian-roommates-in/Louisville,KY') louisville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Owensboro,KY') owensboro
              li
                a(href='http://indiadilse.com/indian-roommates-in/Owensboro,KY') western KY
            h4 Louisiana
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/BatonRouge,LA') baton rouge
              li
                a(href='http://indiadilse.com/indian-roommates-in/Central,Louisiana') central louisiana
              li
                a(href='http://indiadilse.com/indian-roommates-in/Houma,LA') houma
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lafayette,LA') lafayette
              li
                a(href='http://indiadilse.com/indian-roommates-in/LakeCharles,LA') lake charles
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monroe,LA') monroe
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewOrleans,LA') new orleans
              li
                a(href='http://indiadilse.com/indian-roommates-in/Shreveport,LA') shreveport
            h4 Maine
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Maine') maine
            h4 Maryland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Annapolis,MD') annapolis
              li
                a(href='http://indiadilse.com/indian-roommates-in/Baltimore,MD') baltimore
              //- li
              //-   a(href='http://easternshore.craigslist.org/') eastern shore
              li
                a(href='http://indiadilse.com/indian-roommates-in/Frederick,MD') frederick
              li
                a(href='http://indiadilse.com/indian-roommates-in/SouthernMdBoulevard,Lothian,MD') southern maryland
              li
                a(href='http://indiadilse.com/indian-roommates-in/Western,Baltimore,MD') western maryland
            h4 Massachusetts
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Boston,MA') boston
              li
                a(href='http://indiadilse.com/indian-roommates-in/CapeCod,Barnstable,MA') cape cod / islands
              //- li
              //-   a(href='http://southcoast.craigslist.org/') south coast
              li
                a(href='http://indiadilse.com/indian-roommates-in/WestEnd,Boston,Massachusetts') western massachusetts
              li
                a(href='http://indiadilse.com/indian-roommates-in/Worcester,MA') worcester / central MA
            h4 Michigan
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/AnnArbor,MI') ann arbor
              li
                a(href='http://indiadilse.com/indian-roommates-in/BattleCreek,MI') battle creek
              li
                a(href='http://indiadilse.com/indian-roommates-in/MichiganAvenue,Detroit,MI') central michigan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Detroit,MI') detroit metro
              li
                a(href='http://indiadilse.com/indian-roommates-in/Flint,MI') flint
              li
                a(href='http://indiadilse.com/indian-roommates-in/GrandRapids,MI') grand rapids
              li
                a(href='http://indiadilse.com/indian-roommates-in/Holland,MI') holland
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jackson,MI') jackson 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kalamazoo,MI') kalamazoo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lansing,MI') lansing
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monroe,MI') monroe 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Muskegon,MI') muskegon
              li
                a(href='http://indiadilse.com/indian-roommates-in/MidlandRoad,BayCity,MI') midland-baycity
              li
                a(href='http://indiadilse.com/indian-roommates-in/PortHuron,MI') Port Huron
              li
                a(href='http://indiadilse.com/indian-roommates-in/Saginaw,MI') saginaw-
              //- li
              //-   a(href='http://swmi.craigslist.org/') southwest michigan
              li
                a(href='http://indiadilse.com/indian-roommates-in/ThumbLakeRoad,BoyneFalls,Michigan,NorthAmerica') the thumb
              li
                a(href='http://indiadilse.com/indian-roommates-in/UpperPeninsula,Marquette,MI') upper peninsula
            h4 Minnesota
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bemidji,MN') bemidji, MN
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brainerd,MN') brainerd, MN
              li
                a(href='http://indiadilse.com/indian-roommates-in/Duluth,GA') duluth / superior
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mankato,MN') mankato, MN
              li
                a(href='http://indiadilse.com/indian-roommates-in/Minneapolis,MN') minneapolis / st paul, MN
              li
                a(href='http://indiadilse.com/indian-roommates-in/Rochester,MN') rochester , MN
              //- li
              //-   a(href='http://marshall.craigslist.org/') southwest, MN
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.Cloud,MN') st cloud, MN
            h4 Mississippi
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Gulfport,MS') gulfport / biloxi, MS
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hattiesburg,MS') hattiesburg, MS
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jackson,MS') jackson, MS
              li
                a(href='http://indiadilse.com/indian-roommates-in/Meridian,MS') meridian, MS
              li
                a(href='http://indiadilse.com') north mississippi, MS
              li
                a(href='http://indiadilse.com') southwest MS
            h4 Missouri
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Columbia,MO') columbia / jeff city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Joplin,MO') joplin
              li
                a(href='http://indiadilse.com/indian-roommates-in/KansasCity,MO') kansas city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kirksville,MO') kirksville
              li
                a(href='http://indiadilse.com/indian-roommates-in/LakeoftheOzarks,MO') lake of the ozarks
              //- li
              //-   a(href='http://semo.craigslist.org/') southeast missouri
              li
                a(href='http://indiadilse.com/indian-roommates-in/Springfield,MO') springfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.Joseph,MO') st joseph
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.Louis,MO') st louis
          .box.box_3
            h4 Montana
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Billings,MT') billings
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bozeman,MT') bozeman
              li
                a(href='http://indiadilse.com/indian-roommates-in/Butte,MT') butte
              li
                a(href='http://indiadilse.com/indian-roommates-in/GreatFalls,MT') great falls
              li
                a(href='http://indiadilse.com/indian-roommates-in/Helena,MT') helena
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kalispell,MT') kalispell
              li
                a(href='http://indiadilse.com/indian-roommates-in/Missoula,MT') missoula
              //- li
              //-   a(href='http://montana.craigslist.org/') eastern montana
            h4 Nebraska
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/GrandIsland,NE') grand island
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lincoln,NE') lincoln
              li
                a(href='http://indiadilse.com/indian-roommates-in/NorthPlatte,NE') north platte
              li
                a(href='http://indiadilse.com/indian-roommates-in/Omaha,NE') omaha 
              li
                a(href='http://indiadilse.com/indian-roommates-in/CouncilBluffs,IA') council bluffs  -
              li
                a(href='http://indiadilse.com/indian-roommates-in/Scottsbluff,NE') scottsbluff 
            h4 Nevada
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Elko,NV') elko
              li
                a(href='http://indiadilse.com/indian-roommates-in/LasVegas,NV') las vegas
              li
                a(href='http://indiadilse.com/indian-roommates-in/Reno,NV') reno 
            h4 New Hampshire
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewHampshire') new hampshire
            h4 New Jersey
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewJersey') NJ
              //- li
              //-   a(href='http://jerseyshore.craigslist.org/') jersey shore
              //- li
              //-   a(href='http://newjersey.craigslist.org/') north jersey
              //- li
              //-   a(href='http://southjersey.craigslist.org/') south jersey
            h4 New Mexico
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Albuquerque,NM') albuquerque
              li
                a(href='http://indiadilse.com/indian-roommates-in/Clovis,NM') clovis / portales  http://indiadilse.com/indian-roommates-in/Portales,NM
              li
                a(href='http://indiadilse.com/indian-roommates-in/Portales,NM') portales 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Farmington,NM') farmington
              li
                a(href='http://indiadilse.com/indian-roommates-in/LasCruces,NM') las cruces
              li
                a(href='http://indiadilse.com/indian-roommates-in/Roswell,NM') roswell 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Carlsbad,NM') carlsbad 
              li
                a(href='http://indiadilse.com/indian-roommates-in/SantaFe,NM') santa fe 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Taos,NM') Taos,NM
                  
            h4 New York
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Albany,NY') albany
              li
                a(href='http://indiadilse.com/indian-roommates-in/Binghamton,NY') binghamton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Buffalo,NY') buffalo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Catskill,NY') catskill
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chautauqua,NY') chautauqua
              li
                a(href='http://indiadilse.com/indian-roommates-in/Elmira,Corning,NY') elmira corning
              li
                a(href='http://indiadilse.com/indian-roommates-in/FingerLakes,NY') finger lakes
              li
                a(href='http://indiadilse.com/indian-roommates-in/GlensFalls,NY') glens falls
              li
                a(href='http://indiadilse.com/indian-roommates-in/HudsonValleyAvenue,NewWindsor,NY') hudson valley  -
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ithaca,NY') ithaca
              li
                a(href='http://indiadilse.com/indian-roommates-in/LongIsland,NY') long island
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewYorkCity,NY') new york city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Oneonta,NY') oneonta
              li
                a(href='http://indiadilse.com/indian-roommates-in/Plattsburgh,NY') plattsburgh-adirondacks  -
              li 
                a(href='http://indiadilse.com/indian-roommates-in/Potsdam,NY') potsdam-canton-massena 
              li 
                a(href='http://indiadilse.com/indian-roommates-in/Massena,NY') massena 
                  
              li 
                a(href='http://indiadilse.com/indian-roommates-in/Canton,NY')  canton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Rochester,NY') rochester
              li
                a(href='http://indiadilse.com/indian-roommates-in/Syracuse,NY') syracuse
              li
                a(href='http://indiadilse.com/indian-roommates-in/TwinHill,Westport,NY') twin tiers NY/PA -
              li
                a(href='http://indiadilse.com/indian-roommates-in/Utica,NY') utica
              li
                a(href='http://indiadilse.com/indian-roommates-in/Rome,NY') Rome  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Oneida,NY') oneida   

              li
                a(href='http://indiadilse.com/indian-roommates-in/Watertown,NY') watertown
            h4 North Carolina
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Asheville,NC') asheville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Boone,NC') boone
              li
                a(href='http://indiadilse.com/indian-roommates-in/Charlotte,NC') charlotte
              //- li
              //-   a(href='http://eastnc.craigslist.org/') eastern NC
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fayetteville,NC') fayetteville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Greensboro,NC') greensboro
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hickory,NC') hickory 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lenoir,NC') lenoir
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jacksonville,NC') jacksonville 
              li
                a(href='http://indiadilse.com/indian-roommates-in/OuterBanks') outer banks -
              li
                a(href='http://indiadilse.com/indian-roommates-in/Raleigh,NC') raleigh / durham / CH
              li 
                a(href='http://indiadilse.com/indian-roommates-in/Durham,NC') durham 
              li 
                a(href='http://indiadilse.com/indian-roommates-in/Charlotte,NC') Charlotte CH

              li
                a(href='http://indiadilse.com/indian-roommates-in/Wilmington,NC') wilmington
              li
                a(href='http://indiadilse.com/indian-roommates-in/Winston-Salem,NC') winston-salem
            h4 North Dakota
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bismarck,ND') bismarck
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fargo,ND') fargo / moorhead
              li
                a(href='http://indiadilse.com/indian-roommates-in/GrandForksAFB,ND') grand forks
              li
                a(href='http://indiadilse.com/indian-roommates-in/Moorhead,ND') north dakota
            h4 Ohio
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Akron,OH') akron / canton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Canton,OH') canton 
              //- li
              //-   a(href='http://indiadilse.com/indian-roommates-in/Akron,OH') akron / canton  

              li
                a(href='http://indiadilse.com/indian-roommates-in/Ashtabula,OH') ashtabula
              li
                a(href='http://indiadilse.com/indian-roommates-in/Athens,OH') athens 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chillicothe,OH') chillicothe
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cincinnati,OH') cincinnati
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cleveland,OH') cleveland
              li
                a(href='http://indiadilse.com/indian-roommates-in/Columbus,OH') columbus
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dayton,OH') dayton / springfield  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Springfield,OH')  springfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lima,OH') lima 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Findlay,OH') findlay
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mansfield,OH') mansfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sandusky,OH') sandusky
              li
                a(href='http://indiadilse.com/indian-roommates-in/Toledo,OH') toledo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tuscarawas,OH') tuscarawas co
              li
                a(href='http://indiadilse.com/indian-roommates-in/Youngstown,OH') youngstown
              li
                a(href='http://indiadilse.com/indian-roommates-in/Zanesville,OH') zanesville / cambridge  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cambridge,OH') cambridge  
                  
            h4 Oklahoma
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lawton,OK') lawton
              li
                a(href='http://indiadilse.com/indian-roommates-in/NorthwesternOklahomaRailroad,Lawton,OK') northwest OK -
              li
                a(href='http://indiadilse.com/indian-roommates-in/OklahomaCity,OK') oklahoma city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Stillwater,OK') stillwater
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tulsa,OK') tulsa
            h4 Oregon
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bend,OR') bend
              li
                a(href='http://indiadilse.com/indian-roommates-in/Corvallis,OR') corvallis
              li
                a(href='http://indiadilse.com/indian-roommates-in/Albany,OR') albany  
              //- li
              //-   a(href='http://eastoregon.craigslist.org/') east oregon
              li
                a(href='http://indiadilse.com/indian-roommates-in/Eugene,OR') eugene
              li
                a(href='http://indiadilse.com/indian-roommates-in/KlamathFalls,OR') klamath falls
              li
                a(href='http://indiadilse.com/indian-roommates-in/Medford,OR') medford
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ashland,OR')  ashland
              li
                a(href='http://indiadilse.com/indian-roommates-in/CoastRanges,Oregon') oregon ranges
              li
                a(href='http://indiadilse.com/indian-roommates-in/Portland,OR') portland
              li
                a(href='http://indiadilse.com/indian-roommates-in/Roseburg,OR') roseburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Salem,OR') salem
            h4 Pennsylvania
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Altoona,PA') altoona  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Johnstown,PA') johnstown


              li
                a(href='http://indiadilse.com/indian-roommates-in/CumberlandValley,PA') cumberland valley
              li
                a(href='http://indiadilse.com/indian-roommates-in/Erie,PA') erie
              li
                a(href='http://indiadilse.com/indian-roommates-in/Harrisburg,PA') harrisburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lancaster,PA') lancaster
              li
                a(href='http://indiadilse.com/indian-roommates-in/LehighValley,Whitehall,PA') lehigh valley
              li
                a(href='http://indiadilse.com/indian-roommates-in/Meadville,PA') meadville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Philadelphia,PA') philadelphia
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pittsburgh,PA') pittsburgh
              li
                a(href='http://indiadilse.com/indian-roommates-in/PoconoLake,PoconoPines,PA') poconos
              li
                a(href='http://indiadilse.com/indian-roommates-in/Reading,PA') reading
              li
                a(href='http://indiadilse.com/indian-roommates-in/Scranton,PA') scranton       
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wilkes-Barre,PA') wilkes-barre 


              li
                a(href='http://indiadilse.com/indian-roommates-in/StateCollege,PA') state college
              li
                a(href='http://indiadilse.com/indian-roommates-in/Williamsport,PA') williamsport
              li
                a(href='http://indiadilse.com/indian-roommates-in/York,PA') york
          .box.box_4
            h4 Rhode Island
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/RhodeIsland') rhode island
            h4 South Carolina
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Charleston,SC') charleston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Columbia,SC') columbia
              li
                a(href='http://indiadilse.com/indian-roommates-in/Florence,SC') florence
              li
                a(href='http://indiadilse.com/indian-roommates-in/Greenville,SC') greenville 
              li
                a(href='http://indiadilse.com/indian-roommates-in/upsatte,sc') upstate -
              li
                a(href='http://indiadilse.com/indian-roommates-in/HiltonHeadIsland,SC') hilton head
              li
                a(href='http://indiadilse.com/indian-roommates-in/MyrtleBeach,SC') myrtle beach
            h4 South Dakota
            ul
              //- li
              //-   a(href='http://nesd.craigslist.org/') northeast SD
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pierre,SD') pierre / central SD
              li
                a(href='http://indiadilse.com/indian-roommates-in/RapidCity,SD') rapid city / west SD
              li
                a(href='http://indiadilse.com/indian-roommates-in/SiouxFalls,SD') sioux falls / SE SD
              li
                a(href='http://indiadilse.com/indian-roommates-in/SouthDakota') south dakota
            h4 Tennessee
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chattanooga,TN') chattanooga
              li
                a(href='http://indiadilse.com/indian-roommates-in/Clarksville,TN') clarksville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cookeville,TN') cookeville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jackson,TN') jackson  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Knoxville,TN') knoxville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Memphis,TN') memphis
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nashville,TN') nashville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tri-CitiesCrossing,Kingsport,TN') tri-cities
            h4 Texas
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Abilene,TX') abilene
              li
                a(href='http://indiadilse.com/indian-roommates-in/Amarillo,TX') amarillo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Austin,TX') austin
              li
                a(href='http://indiadilse.com/indian-roommates-in/Beaumont,TX') beaumont 
              li
                a(href='http://indiadilse.com/indian-roommates-in/PortArthur,TX') port arthur 

              li
                a(href='http://indiadilse.com/indian-roommates-in/Brownsville,TX') brownsville
              li
                a(href='http://indiadilse.com/indian-roommates-in/CollegeStation,TX') college station
              li
                a(href='http://indiadilse.com/indian-roommates-in/CorpusChristi,TX') corpus christi
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dallas,TX') dallas 
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortWorth,TX') fort worth
              //- li
              //-   a(href='http://nacogdoches.craigslist.org/') deep east texas
              li
                a(href='http://indiadilse.com/indian-roommates-in/DelRio,TX') del rio 
              li
                a(href='http://indiadilse.com/indian-roommates-in/EaglePass,TX') eagle pass 

              li
                a(href='http://indiadilse.com/indian-roommates-in/ElPaso,TX') el paso
              li
                a(href='http://indiadilse.com/indian-roommates-in/Galveston,TX') galveston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Houston,TX') houston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Killeen,TX') killeen 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Temple,TX') temple 
                
               li
                a(href='http://indiadilse.com/indian-roommates-in/FortHood,TX') ft hood
                

              li
                a(href='http://indiadilse.com/indian-roommates-in/Laredo,TX') laredo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lubbock,TX') lubbock
              li
                a(href='http://indiadilse.com/indian-roommates-in/McAllen,TX') mcallen
              li
                a(href='http://indiadilse.com/indian-roommates-in/Edinburg,TX') edinburg

              li
                a(href='http://indiadilse.com/indian-roommates-in/Odessa,TX') odessa                                      / midland  - ?
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanAngelo,TX') san angelo
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanAntonio,TX') san antonio
              li
                a(href='http://indiadilse.com/indian-roommates-in/SanMarcos,TX') san marcos
              //- li
              //-   a(href='http://bigbend.craigslist.org/') southwest TX
              li
                a(href='http://indiadilse.com/indian-roommates-in/TexomaParkway,Sherman,TX') texoma
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tyler,TX') tyler                        ? / east TX
              li
                a(href='http://indiadilse.com/indian-roommates-in/Victoria,TX') victoria 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Waco,TX') waco
              li
                a(href='http://indiadilse.com/indian-roommates-in/WichitaFalls,TX') wichita falls
            h4 Utah
            ul
              //- li
              //-   a(href='http://logan.craigslist.org/') logan
              //- li
              //-   a(href='http://ogden.craigslist.org/') ogden-clearfield
              li
                a(href='http://indiadilse.com/indian-roommates-in/Provo,UT') provo                      ? / orem
              li
                a(href='http://indiadilse.com/indian-roommates-in/SaltLakeCity,UT') salt lake city
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.George,UT') st george
            h4 Vermont
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Charlottesville,VA') vermont
            h4 Virginia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Charlottesville,VA') charlottesville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Danville,VA') danville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fredericksburg,VA') fredericksburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hampton,VA') hampton 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Harrisonburg,VA') harrisonburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lynchburg,VA') lynchburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewRiverValley,Dublin,VA') new river valley
              li
                a(href='http://indiadilse.com/indian-roommates-in/Richmond,VA') richmond
              li
                a(href='http://indiadilse.com/indian-roommates-in/Roanoke,VA') roanoke
              //- li
              //-   a(href='http://swva.craigslist.org/') southwest VA
              li
                a(href='http://indiadilse.com/indian-roommates-in/Winchester,VA') winchester
            h4 Washington
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bellingham,WA') bellingham
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kennewick,WA') kennewick            ? -pasco-richland
              li
                a(href='http://indiadilse.com/indian-roommates-in/MosesLake,WA') moses lake
              li
                a(href='http://indiadilse.com/indian-roommates-in/OlympicPeninsula') olympic peninsula    -
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pullman,WA') pullman                      ?/ moscow
              li
                a(href='http://indiadilse.com/indian-roommates-in/Seattle,WA') seattle-tacoma
              li
                a(href='http://indiadilse.com/indian-roommates-in/Skagit,WA') skagit                  ?/ island / SJI
              li
                a(href='http://indiadilse.com/indian-roommates-in/Spokane,WA') spokane                  ?/ coeur d'alene
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wenatchee,WA') wenatchee
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yakima,WA') yakima
            h4 West Virginia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Charleston,SC') charleston 
              //- li
              //-   a(href='http://martinsburg.craigslist.org/') eastern panhandle
              li
                a(href='http://indiadilse.com/indian-roommates-in/Huntington,WV') Huntington          ?  -ashland
              li
                a(href='http://indiadilse.com/indian-roommates-in/Morgantown,WV') morgantown
              //- li
              //-   a(href='http://wheeling.craigslist.org/') northern panhandle
              li
                a(href='http://indiadilse.com/indian-roommates-in/Parkersburg,WV') parkersburg                    ? -marietta
              //- li
              //-   a(href='http://swv.craigslist.org/') southern WV
              //- li
              //-   a(href='http://wv.craigslist.org/') west virginia (old)
            h4 Wisconsin
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Appleton,WI') Appleton             ?  -oshkosh-FDL
              li
                a(href='http://indiadilse.com/indian-roommates-in/EauClaire,WI') eau claire
              li
                a(href='http://indiadilse.com/indian-roommates-in/GreenBay,WI') green bay
              li
                a(href='http://indiadilse.com/indian-roommates-in/Janesville,WI') janesville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kenosha,Racine') kenosha-racine
              li
                a(href='http://indiadilse.com/indian-roommates-in/LaCrosse,WI') la crosse
              li
                a(href='http://indiadilse.com/indian-roommates-in/Madison,WI') madison
              li
                a(href='http://indiadilse.com/indian-roommates-in/Milwaukee,WI') milwaukee




              p  Resume from here   ----- *********

              li
                a(href='http://indiadilse.com/indian-roommates-in/Sheboygan,WI') northern WI
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sheboygan,WI') sheboygan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wausau,WI') wausau
            h4 Wyoming
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wyoming') wyoming
            h4 Territories
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guam') guam                   ? - micronesia
              li
                a(href='http://indiadilse.com/indian-roommates-in/PuertoRico') puerto rico
              li
                a(href='http://indiadilse.com/indian-roommates-in/U.S.VirginIslands') U.S. virgin islands
        h1
          a(name='CA')
          | Canada
        .colmask
          .box.box_1
            h4 Alberta
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Calgary,AB,Canada') calgary
              li
                a(href='http://indiadilse.com/indian-roommates-in/Edmonton,AB,Canada') edmonton
              li
                a(href='http://indiadilse.com/indian-roommates-in/FortMcMurray,AB,Canada') ft mcmurray
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lethbridge,AB,Canada') lethbridge
              li
                a(href='http://indiadilse.com/indian-roommates-in/MedicineHat,AB,Canada') medicine hat
              li
                a(href='http://indiadilse.com/indian-roommates-in/PeaceRiver,AB,Canada') peace river country
              li
                a(href='http://indiadilse.com/indian-roommates-in/RedDeer,AB,Canada') red deer
            h4 British Columbia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cariboo,BC,Canada') cariboo
              li
                a(href='http://indiadilse.com/indian-roommates-in/ComoxValley,BC,Canada') comox valley
              li
                a(href='http://indiadilse.com/indian-roommates-in/FraserValley,BC,Canada') fraser valley
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kamloops,BC,Canada') kamloops
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kelowna,BC,Canada') kelowna
              li
                a(href='http://indiadilse.com/indian-roommates-in/Okanagan,Canada') okanagan 

              li
                a(href='http://indiadilse.com/indian-roommates-in/KootenayBoundaryC,BC,Canada')  KootenayBoundaryC,BC,Canada
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nanaimo,BC,Canada') nanaimo
              li
                a(href='http://indiadilse.com/indian-roommates-in/PrinceGeorge,BC,Canada') prince george
              li
                a(href='http://indiadilse.com/indian-roommates-in/Skeena-QueenCharlotteE,BC,Canada') skeena         ? -    bulkley
              li
                a(href='http://indiadilse.com/indian-roommates-in/SunshineCoast,BC,Canada') sunshine coast
              li
                a(href='http://indiadilse.com/indian-roommates-in/Vancouver,BC,Canada') vancouver
              li
                a(href='http://indiadilse.com/indian-roommates-in/Victoria,BC,Canada') victoria
              li
                a(href='http://indiadilse.com/indian-roommates-in/Whistler,BC,Canada') whistler
          .box.box_2
            h4 Manitoba
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Winnipeg,MB,Canada') winnipeg
            h4 New Brunswick
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewBrunswick,Canada') new brunswick
            h4 Newfoundland and Labrador
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/St.Johns,NL,Canada') - st john s
            h4 Northwest Territories
            ul
              //- li
              //-   a(href='http://territories.craigslist.ca/') territories
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yellowknife,NT,Canada') yellowknife
            h4 Nova Scotia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Halifax,NS,Canada') halifax
          .box.box_3
            h4 Ontario
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Barrie,ON,Canada') barrie
              li
                a(href='http://indiadilse.com/indian-roommates-in/Belleville,ON,Canada') belleville
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brantford,ON,Canada') brantford-woodstock
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chatham-Kent,ON,Canada') chatham-kent
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cornwall,ON,Canada') cornwall
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guelph,ON,Canada') guelph
              li
                a(href='http://indiadilse.com/indian-roommates-in/BurlingtonStreetWest,Hamilton,ON,Canada') hamilton-burlington
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kingston,ON,Canada') kingston
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kitchener-Waterloo,CambridgeAvenue,Kitchener,ON,Canada') kitchener-waterloo-cambridge
              li
                a(href='http://indiadilse.com/indian-roommates-in/London,ON,Canada') london 
              li
                a(href='http://indiadilse.com/indian-roommates-in/NiagaraRegionalMunicipality,ON,Canada') niagara region
              li
                a(href='http://indiadilse.com/indian-roommates-in/GatineauRiver,Hull,Gatineau,QC,Canada') ottawa-hull-gatineau
              li
                a(href='http://indiadilse.com/indian-roommates-in/OwenSound,ON,Canada') owen sound
              li
                a(href='http://indiadilse.com/indian-roommates-in/Peterborough,UnitedKingdom') peterborough
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sarnia,ON,Canada') sarnia
              li
                a(href='http://indiadilse.com/indian-roommates-in/SaultSte.Marie,ON,Canada') sault ste marie
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sudbury,ON,Canada') sudbury
              li
                a(href='http://indiadilse.com/indian-roommates-in/ThunderBay,ON,Canada') thunder bay
              li
                a(href='http://indiadilse.com/indian-roommates-in/Toronto,ON,Canada') toronto
              li
                a(href='http://indiadilse.com/indian-roommates-in/Windsor,ON,Canada') windsor
          .box.box_4
            h4 Prince Edward Island
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/PrinceEdwardIsland,Canada') prince edward island
            h4 Quebec
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Montreal,QC,Canada') montreal
              li
                a(href='http://indiadilse.com/indian-roommates-in/QuebecCity,QC,Canada') quebec city
              li
                a(href='http://indiadilse.com/indian-roommates-in/Saguenay,QC,Canada') saguenay
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sherbrooke,QC,Canada') sherbrooke
              li
                a(href='http://indiadilse.com/indian-roommates-in/Trois-Rivires,QC,Canada') trois-rivieres
            h4 Saskatchewan
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Regina,SK,Canada') regina
              li
                a(href='http://indiadilse.com/indian-roommates-in/Saskatoon,SK,Canada') saskatoon
            h4 Yukon Territory
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Whitehorse,YT,Canada') whitehorse
        h1
          a(name='EU')
          | Europe
        .colmask
          .box.box_1
            h4 Austria
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Vienna,Austria') vienna
            h4 Belgium
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Belgium') belgium
            h4 Bulgaria
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Belgium') bulgaria
            h4 Croatia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Croatia') croatia
            h4 Czech Republic
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Prague,CzechRepublic') prague
            h4 Denmark
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Copenhagen,Denmark') copenhagen
            h4 Finland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Finland') finland
            h4 France
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bordeaux,France') bordeaux
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brittany,France') brittany
              li
                a(href='http://indiadilse.com/indian-roommates-in/Grenoble,France') grenoble
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lille,France') lille
              li
                a(href='http://loire.craigslist.org/')    - ? loire valley   
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lyon,France') lyon
              li
                a(href='http://indiadilse.com/indian-roommates-in/Marseille,France') marseille
              li
                a(href='http://indiadilse.com/indian-roommates-in/Montpellier,France') montpellier
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nice,France') nice / cote d'azur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Normandy,Capelle-les-Grands,France') normandy
              li
                a(href='http://indiadilse.com/indian-roommates-in/Paris,France') paris
              li
                a(href='http://indiadilse.com/indian-roommates-in/Strasbourg,France') strasbourg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Toulouse,France') toulouse
          .box.box_2
            h4 Germany
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Berlin,Germany') berlin
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bremen,Germany') bremen
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cologne,Germany') cologne
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dresden,Germany') dresden
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dusseldorf,Germany') dusseldorf
              li
                a(href='http://indiadilse.com/indian-roommates-in/Essen,Germany') essen / ruhr
              li
                a(href='http://indiadilse.com/indian-roommates-in/Frankfurt,Germany') frankfurt
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hamburg,Germany') hamburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hanover,Germany') hannover
              li
                a(href='http://indiadilse.com/indian-roommates-in/Heidelberg,Germany') heidelberg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kaiserslautern,Germany') kaiserslautern
              li
                a(href='http://indiadilse.com/indian-roommates-in/Leipzig,Germany') leipzig
              li
                a(href='http://indiadilse.com/indian-roommates-in/Munich,Germany') munich
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nuremberg,Germany') nuremberg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Stuttgart,Germany') stuttgart
            h4 Greece
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Greece') greece
            h4 Hungary
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Budapest,Hungary') budapest
            h4 Iceland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Reykjavik,CapitalRegion,Iceland') reykjavik
            h4 Ireland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dublin,Ireland') dublin
            h4 Italy
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bologna,Italy') bologna
              li
                a(href='http://indiadilse.com/indian-roommates-in/Florence,Italy') florence               ? / tuscany
              li
                a(href='http://indiadilse.com/indian-roommates-in/Genoa,Italy') genoa
              li
                a(href='http://indiadilse.com/indian-roommates-in/Milan,Italy') milan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Naples,Italy') napoli               ?  / campania
              li
                a(href='http://indiadilse.com/indian-roommates-in/Perugia,Italy') perugia
              li
                a(href='http://indiadilse.com/indian-roommates-in/Rome,Italy') rome
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sardinia,Italy') sardinia
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sicilia,Italy') sicilia
              li
                a(href='http://indiadilse.com/indian-roommates-in/Turin,Italy') torino
              li
                a(href='http://indiadilse.com/indian-roommates-in/Venice,Italy') venice / veneto
          .box.box_3
            h4 Luxembourg
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Luxembourg') luxembourg
            h4 Netherlands
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Amsterdam,TheNetherlands') amsterdam / randstad
            h4 Norway
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Norway') norway
            h4 Poland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Poland') poland
            h4 Portugal
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Faro,Portugal') faro / algarve
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lisbon,Portugal') lisbon
              li
                a(href='http://indiadilse.com/indian-roommates-in/PortoAlegre-RioGrandedoSul,Brazil') porto
            h4 Romania
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Romania') romania
            h4 Russian Federation
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Russia,Moscow') moscow
              li
                a(href='http://indiadilse.com/indian-roommates-in/Russia,SaintPetersburg,StPetersburg') st petersburg
            h4 Spain
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Alicante,Spain') alicante
              li
                a(href='http://indiadilse.com/indian-roommates-in/BalearicIslands,Spain') baleares
              li
                a(href='http://indiadilse.com/indian-roommates-in/Barcelona,Spain') barcelona
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bilbao,Spain') bilbao
              li
                a(href='http://indiadilse.com/indian-roommates-in/C%C3%A1diz,Spain') cadiz
              li
                a(href='http://indiadilse.com/indian-roommates-in/Canarias,Spain') canarias
              li
                a(href='http://indiadilse.com/indian-roommates-in/Granada,Spain') granada
              li
                a(href='http://indiadilse.com/indian-roommates-in/Madrid,Spain') madrid
              li
                a(href='http://indiadilse.com/indian-roommates-in/M%C3%A1laga,Spain') malaga
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sevilla,Spain') sevilla
              li
                a(href='http://indiadilse.com/indian-roommates-in/Valencia,Spain') valencia
          .box.box_4
            h4 Sweden
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sweden') sweden
            h4 Switzerland
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Basel,Switzerland') basel
              li
                a(href='http://indiadilse.com/indian-roommates-in/Berne,Switzerland') bern
              li
                a(href='http://indiadilse.com/indian-roommates-in/Geneva,Switzerland') geneva
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lausanne,Switzerland') lausanne
              li
                a(href='http://indiadilse.com/indian-roommates-in/Zurich,Switzerland') zurich
            h4 Turkey
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Turkey') turkey
            h4 Ukraine
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ukraine') ukraine
            h4 United Kingdom   ---------- *******  Capture all cities in   UK   --   FIrst to launch
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Aberdeen,UnitedKingdom') aberdeen
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bath,UnitedKingdom') bath
              li
                a(href='http://indiadilse.com/indian-roommates-in/Belfast,UnitedKingdom') belfast
              li
                a(href='http://indiadilse.com/indian-roommates-in/Birmingham,UnitedKingdom') birmingham / west mids
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brighton,UnitedKingdom') brighton
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bristol,UnitedKingdom') bristol
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cambridge,UnitedKingdom') cambridge, UK
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cardiff,UnitedKingdom') cardiff / wales
              li
                a(href='http://indiadilse.com/indian-roommates-in/Coventry,UnitedKingdom') coventry
              li
                a(href='http://indiadilse.com/indian-roommates-in/Derby,UnitedKingdom') derby
              li
                a(href='http://indiadilse.com/indian-roommates-in/Devon,Cornwall,UnitedKingdom') devon & cornwall
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dundee,UnitedKingdom') dundee
              li
                a(href='http://indiadilse.com/indian-roommates-in/EastAnglianWay,Gorleston-on-Sea,UnitedKingdom') east anglia
              li
                a(href='http://indiadilse.com/indian-roommates-in/EastMidlandsInternationalAirport,CastleDonington,UnitedKingdom') east midlands
              li
                a(href='http://indiadilse.com/indian-roommates-in/Edinburgh,UnitedKingdom') edinburgh
              li
                a(href='http://indiadilse.com/indian-roommates-in/Essex,UnitedKingdom') essex
              li
                a(href='http://indiadilse.com/indian-roommates-in/Glasgow,UnitedKingdom') glasgow
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hampshire,UnitedKingdom') hampshire
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kent,UnitedKingdom') kent
              li
                a(href='http://indiadilse.com/indian-roommates-in/Leeds,UnitedKingdom') leeds
              li
                a(href='http://indiadilse.com/indian-roommates-in/Liverpool,UnitedKingdom') liverpool
              li
                a(href='http://indiadilse.com/indian-roommates-in/London,UnitedKingdom') london
              li
                a(href='http://indiadilse.com/indian-roommates-in/Manchester,UnitedKingdom') manchester
              li
                a(href='http://indiadilse.com/indian-roommates-in/NewcastleuponTyne,UnitedKingdom') newcastle / NE england
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nottingham,UnitedKingdom') nottingham
              li
                a(href='http://indiadilse.com/indian-roommates-in/Oxford,UnitedKingdom') oxford
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sheffield,UnitedKingdom') sheffield
        h1
          a(name='ASIA')
          | Asia, Pacific and Middle East
        .colmask
          .box.box_1
            h4 Bangladesh
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bangladesh') bangladesh
            h4 China
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Beijing,China') beijing
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chengdu,Sichuan,China') chengdu
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chongqing,China') chongqing
              li
                a(href='http://indiadilse.com/indian-roommates-in/Dalian,Liaoning,China') dalian
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guangzhou,Guangdong,China') guangzhou
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hangzhou,Zhejiang,China') hangzhou
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nanjing,Jiangsu,China') nanjing
              li
                a(href='http://indiadilse.com/indian-roommates-in/Shanghai,China') shanghai
              li
                a(href='http://indiadilse.com/indian-roommates-in/Shenyang,Liaoning,China') shenyang
              li
                a(href='http://indiadilse.com/indian-roommates-in/Shenzhen,Guangdong,China') shenzhen
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wuhan,Hubei,China') wuhan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Xian,Shaanxi,China') xi'an
            h4 Guam / Micronesia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guam') guam-  micronesia
            h4 Hong Kong
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/HongKong') hong kong
          .box.box_2
            h4 India
            ul
             li
                a(href='http://indiadilse.com/indian-roommates-in/Ludhiana,Punjab,India') Ludhiana 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Amritsar,Punjab,India') Amritsar
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bangalore,Karnataka,India') Jalandhar
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jalandhar,Punjab,India') Patiala
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bathinda,Punjab,India') Bathinda
             li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') Hoshiarpur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hoshiarpur,Punjab,India') Pathankot
              li
                a(href='http://indiadilse.com/indian-roommates-in/Moga,Punjab,India') Moga
              li
                a(href='http://indiadilse.com/indian-roommates-in/Batala,Punjab,India') Batala
              li
                a(href='http://indiadilse.com/indian-roommates-in/Abohar,Punjab,India') Abohar
             li
                a(href='http://indiadilse.com/indian-roommates-in/Malerkotla,Punjab,India') Malerkotla  -- add more . 
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') khanna
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bangalore,Karnataka,India') phagwara
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bhubaneswar,Odisha,India') mukatsar
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chandigarh,India') barnala
             li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') firozpur
             
                p  ADd more. here   CITIES for  gujrat  and all other cities. 

             li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') kapurthala
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bangalore,Karnataka,India') bangalore
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bhubaneswar,Odisha,India') bhubaneswar
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chandigarh,India') chandigarh



             li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') ahmedabad  
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ahmedabad,Gujarat,India') ahmedabad
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bangalore,Karnataka,India') bangalore
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bhubaneswar,Odisha,India') bhubaneswar
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chandigarh,India') chandigarh
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chennai,TamilNadu,India') chennai (madras)
              li
                a(href='http://indiadilse.com/indian-roommates-in/Delhi,India') delhi
              li
                a(href='http://indiadilse.com/indian-roommates-in/Goa,India') goa
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hyderabad,AndhraPradesh,India') hyderabad
              li
                a(href='http://indiadilse.com/indian-roommates-in/Indore,MadhyaPradesh,India') indore
              li
                a(href='http://indiadilse.com/indian-roommates-in/Jaipur,Rajasthan,India') jaipur
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kerala,India') kerala
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kolkata,WestBengal,India') kolkata (calcutta)
              li
                a(href='http://indiadilse.com/indian-roommates-in/Lucknow,UttarPradesh,India') lucknow
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mumbai,Maharashtra,India') mumbai
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pune,Maharashtra,India') pune
              li
                a(href='http://indiadilse.com/indian-roommates-in/Surat,Gujarat,India') surat Gujarat
            h4 Indonesia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Indonesia') indonesia
            h4 Iran
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Iran') iran
            h4 Iraq
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Iraq') iraq
            h4 Israel and Palestine
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Haifa,Israel') haifa
              li
                a(href='http://indiadilse.com/indian-roommates-in/TelAviv,Israel') jerusalem
              li
                a(href='http://indiadilse.com/indian-roommates-in/TelAviv,Israel') tel aviv
              li
                a(href='http://indaidilse.com') west bank -
          .box.box_3
            h4 Japan
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fukuoka,FukuokaPrefecture,Japan') fukuoka
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hiroshima,HiroshimaPrefecture,Japan') hiroshima
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nagoya,AichiPrefecture,Japan') nagoya
              li
                a(href='http://indiadilse.com/indian-roommates-in/OkinawaPrefecture,Japan') okinawa
              li
                a(href='http://indiadilse.com/indian-roommates-in/Osaka,Kobe,HyogoPrefecture,Japan') Osaka,Kobe,HyogoPrefecture,Japan
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sapporo,HokkaidoPrefecture,Japan') sapporo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sendai,MiyagiPrefecture,Japan') sendai
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tokyo,Japan') tokyo
            h4 Korea
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Seoul,SouthKorea') seoul
            h4 Kuwait
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kuwait') kuwait
            h4 Lebanon
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Beirut,Lebanon') beirut, lebanon
            h4 Malaysia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Malaysia') malaysia
            h4 Pakistan
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pakistan') pakistan
          .box.box_4
            h4 Philippines
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/BacolodCity,WesternVisayas,Philippines') bacolod
              li
                a(href='http://indiadilse.com/indian-roommates-in/BicolRegion,Philippines') bicol region
              li
                a(href='http://indiadilse.com/indian-roommates-in/CagayandeOro,NorthernMindanao,Philippines') cagayan de oro
              li
                a(href='http://indiadilse.com/indian-roommates-in/CebuCity,CentralVisayas,Philippines') cebu
              li
                a(href='http://indiadilse.com/indian-roommates-in/DavaoCity,DavaoRegion,Philippines') davao city
              li
                a(href='http://indiadilse.com/indian-roommates-in/IloiloCity,WesternVisayas,Philippines') iloilo
              li
                a(href='http://indiadilse.com/indian-roommates-in/Manila,MetroManila,Philippines') manila
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pampanga,CentralLuzon,Philippines') pampanga
              li
                a(href='http://indiadilse.com/indian-roommates-in/ZamboangaPeninsula,Philippines') zamboanga
            h4 Singapore
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Singapore') singapore
            h4 Taiwan
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Thailand') taiwan
            h4 Thailand
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Thailand') thailand
            h4 United Arab Emirates
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/UnitedArabEmirates') united arab emirates
            h4 Vietnam
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Vietnam') vietnam
        h1
          a(name='OCEANIA')
          | Oceania
        .colmask
          .box.box_1
            h4 Australia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Adelaide,SouthAustralia,Australia') adelaide
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brisbane,Queensland,Australia') brisbane
              li
                a(href='http://indiadilse.com/indian-roommates-in/Cairns,Queensland,Australia') cairns
              li
                a(href='http://indiadilse.com/indian-roommates-in/Canberra,AustralianCapitalTerritory,Australia') canberra
              li
                a(href='http://indiadilse.com/indian-roommates-in/Darwin,NorthernTerritory,Australia') darwin
              li
                a(href='http://indiadilse.com/indian-roommates-in/GoldCoast,Queensland,Australia') gold coast
              li
                a(href='http://indiadilse.com/indian-roommates-in/Melbourne,Victoria,Australia') melbourne
              li
                a(href='http://indiadilse.com/indian-roommates-in/Newcastle,NSW,Australia') newcastle, NSW
              li
                a(href='http://indiadilse.com/indian-roommates-in/Perth,WesternAustralia,Australia') perth
              li
                a(href='http://indiadilse.com/indian-roommates-in/Sydney,NewSouthWales,Australia') sydney
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tasmania,Australia') tasmania
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wollongong,NewSouthWales,Australia') wollongong
          .box.box_2
            h4 New Zealand
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Auckland,NewZealand') auckland, New Zealand
              li
                a(href='http://indiadilse.com/indian-roommates-in/Christchurch,Canterbury,NewZealand') christchurch, New Zealand
              li
                a(href='http://indiadilse.com/indian-roommates-in/Christchurch,Canterbury,NewZealand') dunedin, New Zealand
              li
                a(href='http://indiadilse.com/indian-roommates-in/Wellington,NewZealand') wellington, New Zealand
          .box.box_3  
        h1
          a(name='LATAM')
          | Latin America and Caribbean
        .colmask
          .box.box_1
            h4 Argentina
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/BuenosAires,Argentina') buenos aires
            h4 Bolivia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Bolivia') bolivia
            h4 Brazil
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/BeloHorizonte-MinasGerais,Brazil') belo horizonte, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/Brasilia-FederalDistrict,Brazil') brasilia, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/Curitiba-Parana,Brazil') curitiba, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/Fortaleza-Ceara,Brazil') fortaleza, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/PortoAlegre-RioGrandedoSul,Brazil') porto alegre, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/Recife-Pernambuco,Brazil') recife, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/RiodeJaneiro,Brazil') rio de janeiro, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/Salvador-Bahia,Brazil') salvador, bahia, Brazil
              li
                a(href='http://indiadilse.com/indian-roommates-in/S%C3%A3oPaulo,Brazil') sao paulo, Brazil
            h4 Caribbean Islands
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Caribbean,CaicosIslands') caribbean islands -
          .box.box_2
            h4 Chile
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/chile') chile
            h4 Colombia
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Colombia') colombia
            h4 Costa Rica
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/CostaRica') costa rica
            h4 Dominican Republic
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/DominicanRepublic') dominican republic
            h4 Ecuador
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ecuador') ecuador
            h4 El Salvador
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ecuador') el salvador
          .box.box_3
            h4 Guatemala
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guatemala') guatemala
            h4 Mexico
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Acapulco,Mexico') acapulco, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/BajaCaliforniaSur,Mexico') baja california sur, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Chihuahua,Mexico') chihuahua, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/CiudadJuarez,Mexico') ciudad juarez, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guadalajara,Mexico') guadalajara, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Guanajuato,Mexico') guanajuato, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Hermosillo,Mexico') hermosillo, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Mazatl%C3%A1n,Mexico') mazatlan, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/MexicoCity,Mexico') mexico city, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Monterrey,Mexico') monterrey, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Oaxaca,Mexico') oaxaca, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Puebla,Mexico') puebla, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/PuertoVallarta,Mexico') puerto vallarta, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Tijuana,Mexico') tijuana, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Veracruz,Mexico') veracruz, Mexico
              li
                a(href='http://indiadilse.com/indian-roommates-in/Yucatan,Mexico') yucatan, Mexico


            h4 Nicaragua
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Nicaragua') nicaragua, Nicaragua
          .box.box_4
            h4 Panama
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Panama') panama
            h4 Peru
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Peru') peru
            h4 Puerto Rico
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/PuertoRico') puerto rico
            h4 Uruguay
            ul
              li
                a(href='http://indiadilse.com') montevideo
            h4 Venezuela
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Venezuela') venezuela
            h4 Virgin Islands, U.S.
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/VirginIslands') virgin islands
        h1
          a(name='AF')
          | Africa
        .colmask
          .box.box_1
            h4 Egypt
            ul
              li
                a(href='http://indiadilse.com') egypt
            h4 Ethiopia
            ul
              li
                a(href='http://indiadilse.com') ethiopia
          .box.box_2
            h4 Ghana
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Ghana') ghana
            h4 Kenya
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Kenya') kenya
          .box.box_3
            h4 Morocco
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/Morocco') morocco
            h4 South Africa
            ul
              li
                a(href='http://indiadilse.com/indian-roommates-in/CapeTown,WesternCape,SouthAfrica') cape town
              li
                a(href='http://indiadilse.com/indian-roommates-in/Durban,KwaZulu-Natal,SouthAfrica') durban
              li
                a(href='http://indiadilse.com/indian-roommates-in/Johannesburg,Gauteng,SouthAfrica') johannesburg
              li
                a(href='http://indiadilse.com/indian-roommates-in/Pretoria,Gauteng,SouthAfrica') pretoria
          .box.box_4
           




