extends ../layouts/default

block main
  .row-fluid.span12
    h1.maroon Welcome to IndiaDilse!
    p.homepara  Serving Indian community Worldwide!
    ul.inline
      li
        p.muted
          a(href='/articles/') Articles
      li
        p.muted
          a(href='/rooms-home/') Rooms
      li
        p.muted
          a(href="/articles/") Apartments/ housing for rent    
    ul.inline
      li
        p.muted
          a(href='/') Nanny-Services
      li
        p.muted
          a(href="/IndianRoommates/") Jobs
      li
        p.muted
          a(href="/IndianRoommates/") Events 

    .row
      .span7
        input#location(type='text', name='city')
        key   
        a.classgo.button.btn.btn-primary(href='') Go
        br
      a.btn(href='/', title='cancel') Cancel

    script(src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/jquery.geocomplete.js')
    
    script
      $(document).ready(function ($) {
        $("#location").geocomplete()
        .bind("geocode:result", function(event, result){
        })
        .bind("geocode:error", function(event, status){
        })
        .bind("geocode:multiple", function(event, results){
        });
        $("#find").click(function(){
        });
        $('#find').on('click', function  () {
        var a = $('#geocomplete').val().replace(/ /g,'');   console.log('a =',a)
        $('#geocomplete').val(a);
        $("#examples a").click(function(){
        $("#geocomplete").val($(this).text()).trigger("geocode");
        return false;
        });
        });});

block content
  br
  .
  br
  .
  br
  .
  br

  ul
  li
    p.muted
      a(href="/articles/") Apartments/ housing for rent
  li
    p.muted
      a(href="/IndianRoommates/") Buy/Sell House
  li
    p.muted
      a(href="/IndianRoommates/") Rooms for share
  li
    p.muted
      a(href="/IndianRoommates/") Nany/Child Care/ Baby Sitter
  li
    p.muted
    a(href="/IndianRoommates/") Wdding Planners/ Decorators
  li
    p.muted
    a(href="/IndianRoommates/") Doctors

  li
    p.muted
    a(href="/IndianRoommates/") Catering

    p.muted
    a(href="/IndianRoommates/") Jobs employers

    p.muted
    a(href="/IndianRoommates/") Jobs employers

    p.muted
    a(href="/IndianRoommates/") Events Donations

    p ------------------------






