extends ../layouts/default

block main
  //- h1= title
  .row-fluid.span12
      h1.maroon Welcome to IndiaDilse! -mobile
      p.homepara  Serving Indian community Worldwide!
    ul.inline
      li
        p.muted
          a(href='/articles/') Articles
      li
        p.muted
          a(href='/rooms/') Rooms
    ul.inline
      li
        p.muted
          a(href='/tags/jalandhar') Rooms in Jalandhar
    .row
      .span7
        input#location(type='text', name='city')
        key
         
        a.classgo.button.btn.btn-primary(href='') Go
        br
      a.btn(href='/', title='cancel') Cancel









