extends ../layouts/default

block main
  .search-area
      form#search_form.custom.show-search-options.position-left(action='https://www.airbnb.com/s')
        .input-wrapper
          input#roomlocation.location(type='text', autocomplete='off', name='location', placeholder='Enter: City, State, Country ', style='color: blue;')
          p#enter_location_error_message.bad(style='display: none;') Please set location
        #checkinWrapper.input-wrapper
          input#checkin.checkin.search-option.ui-datepicker-target(type='text', name='checkin', placeholder='-----> ')
          span.search-area-icon
        //- #checkoutWrapper.input-wrapper
        //-   input#checkout.checkout.search-option.ui-datepicker-target(type='text', name='checkout', placeholder='Check out')
        //-   span.search-area-icon.search-area-icon-checkout
        .input-wrapper
          .custom-select-container
            .custom.dropdown.small.current(aria-hidden='true') Rooms
            .custom.selector
            select#guests.search-option.small(name='guests')
              option(value='1') Rooms
              option(value='2') Apartments
              option(value='3') Nany Service
              option(value='4') Misceleneous

        input(type='hidden', name='source', value='bb')
        a#submit_location.large.btn.icon-and-text.position-left.roomsearch.roomgo(type='submit')
          i.icon.icon-search
          | Search



  .section.section-offset
    .container2
      .row.space3
        .span12.section-intro
          h3
            a(href='https://www.indiadilse.com/locations') IndiaDilse
          p
            | Serving Indian community Worldwide!
      .row.space2
        .span12
          ul.city-tiles.unstyled
            li.city-tile
              .feature-image.sprite-homev2-tiles.sprite-homev2-tiles-ny
              a(href='https://www.indiadilse.com/locations/new-york')
                h4 New York
                span 51 neighborhoods
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-london
              a(href='https://www.indiadilse.com/locations/london')
                h4 London
                span 47 neighborhoods
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-paris
              a(href='https://www.indiadilse.com/locations/paris')
                h4 Paris
                span 31 neighborhoods
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-sf
              a(href='https://www.indiadilse.com/locations/san-francisco')
                h4 San Francisco
                span 36 neighborhoods
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-sydney
              a(href='https://www.indiadilse.com/locations/sydney')
                h4 Sydney
                span 46 neighborhoods
              span.label.label-pink New
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-berlin
              a(href='https://www.indiadilse.com/locations/berlin')
                h4 Berlin
                span
                  | 11 neighborhoods
          a.large.gray.btn(href='www.indiadilse.com/locations') All neighborhood guides
 


  .container.footer-container
    #footer.row
      .span3
        h5 Discover
        ul.unstyled.js-footer-links
          li
            a(href='bnb.com') Safety
          li
            a(href='bnb.com/wishlists/airbn') Airbnb Picks
          li
            a(href='bnb.com') Mobile
          li
            a(href='bnb.c') Life
          li
            a(href='bnb.com/info/how_i') How it works
          li
            a(href='bnb.com/info/w') Why Host
          li
            a(href='bnb.com') Social Connections
          li
            a(href='bnb.com/s') Site Map
      .span3
        h5 Company
        ul.unstyled.js-footer-links
          li
            a(href='h') About
          li
            a(href='') Jobs
          li
            a(href='bnb.cs') Press
          li
            a(href='b') Blog
          li
            a(href='bnb.c') Help
          li
            a(href='bnb.com/p') Policies
          li
            a(href='bnb.co') Terms & Privacy
      .span3
        h5 Join us on
        ul.unstyled.js-external-links
          li
            a(href='https://twitter.com/indaidilse1', target='_blank')
              | Twitter
          li
            a(href='https://www.facebook.com/indaidilse', target='_blank')
              | Facebook
          li
            a(href='https://plus.google.com/+indaidilse?rel=author', target='_blank')
              | Google
          li
            a(href='http://www.youtube.com/indaidilse', target='_blank')
              | YouTube
        #copyright
          | © IndaiDilSe, Inc.





    script(src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/jquery.geocomplete.js')
    
    script
      $(document).ready(function ($) {
        $("#roomlocation").geocomplete()
        .bind("geocode:result", function(event, result){
        })
        .bind("geocode:error", function(event, status){
        })
        .bind("geocode:multiple", function(event, results){
        });
        $("#find").click(function(){
        });
        $('#find').on('click', function  () {
        var a = $('#geocomplete').val().replace(/ /g,'');   console.log('a =',a)
        $('#geocomplete').val(a);
        $("#examples a").click(function(){
        $("#geocomplete").val($(this).text()).trigger("geocode");
        return false;
        });
        });});






      
