extends ../layouts/home

block main
  .search-area
      form#search_form.custom.show-search-options.position-left(action='https://www.airindiadilse.com/about/s')
        .input-wrapper
          input#roomlocation.location(type='text', autocomplete='off', name='location', placeholder='City, State ', style='color: black;')
          p#enter_location_error_message.bad(style='display: none;') Please set location
        #checkinWrapper.input-wrapper
          input#checkin.checkin.search-option.ui-datepicker-target(type='text', name='checkin', placeholder='-----> ')
          span.search-area-icon
        //- #checkoutWrapper.input-wrapper
        //-   input#checkout.checkout.search-option.ui-datepicker-target(type='text', name='checkout', placeholder='Check out')
        //-   span.search-area-icon.search-area-icon-checkout
        .input-wrapper
          .custom-select-container
            .custom.dropdown.small.current(aria-hidden='true') Rooms
            .custom.selector
            select#guests.search-option.small(name='guests')
              option(value='1') Rooms
              option(value='2') Apartments
              option(value='3') Nany Service
              option(value='4') Misceleneous

        input(type='hidden', name='source', value='bb')
        a#submit_location.large.btn.icon-and-text.position-left.roomsearch.roomgo(type='submit')
          i.icon.icon-search
          | Search  



  .section.section-offset
    .container2
      .row.space3
        .span12.section-intro
          h3
            a(href='/about') Serving Indian Community Worldwide!
          p
            | Indian 
            a(href='/classified', target='_blank') classifieds
            | ,    
            a(href='/events', target='_blank') events
            | ,     
            a(href='http://www.w3schools.com', target='_blank') roommates,
            | ,   
            a(href='/nanny_services', target='_blank') nanny services
            | ,     
            a(href='/jobs', target='_blank') jobs
            | ,    
            a(href='/training', target='_blank') training
            | ,     
            a(href='/discussion_boards', target='_blank') discussion boards
            | ,    
            a(href='/articles', target='_blank') articles on various topics,
            | ,     
            a(href='/indian_recipes', target='_blank') Indian recipes.
            |  We've available in all the cities around the globe.




      .row.space2
        .span12
          ul.city-tiles.unstyled
            li.city-tile
              .feature-image.sprite-homev2-tiles.sprite-homev2-tiles-ny
              a(href='http://indiadilse.com/indian-roommates-in/NewYork,NY')  
                h4 New York
                span 
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-london
              a(href='http://indiadilse.com/indian-roommates-in/London,UnitedKingdom')
                h4 London
                span 
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-paris
              a(href='http://indiadilse.com/indian-roommates-in/Paris,France')
                h4 Paris
                span 
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-sf
              a(href='http://indiadilse.com/indian-roommates-in/SanFrancisco,CA')
                h4 San Francisco
                span 
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-sydney
              a(href='http://indiadilse.com/indian-roommates-in/Sydney,NewSouthWales,Australia')
                h4 Sydney
                span
              span.label.label-pink New
            li.city-tile
              .sprite-homev2-tiles.sprite-homev2-tiles-berlin
              a(href='http://indiadilse.com/indian-roommates-in/Berlin,Germany')
                h4 Berlin
                span
                  | 
          a.large.gray.btn(href='/about') More cities here   

  .container.footer-container
    #footer.row
      .span3
        h5 Discover
        ul.unstyled.js-footer-links
          li
            a(href='/about') Safety
          li
            a(href='/about') Airbnb Picks
          li
            a(href='/about') Mobile
          li
            a(href='/about') Life
          li
            a(href='/about/') How it works
          li
            a(href='/about/') Why Host
          li
            a(href='/about') Social Connections
          li
            a(href='/about/') Site Map
      .span3
        h5 Company
        ul.unstyled.js-footer-links
          li
            a(href='/about') About
          li
            a(href='/about') Jobs
          li
            a(href='/about') Press
          li
            a(href='http://indiadilseworldwide.wordpress.com/') Blog
          li
            a(href='/about') Help
          li
            a(href='/about') Policies
          li
            a(href='/about') Responsible Hosting
          li
            a(href='/about') Disaster Response
          li
            a(href='/about') Terms & Privacy
      .span3
        h5 Join us on
        ul.unstyled.js-external-links
          li
            a(href='https://twitter.com/indiadilse1', target='_blank')
              | Twitter
          li
            a(href='https://www.facebook.com/pages/Indiadilse/383883588358279', target='_blank')
              | Facebook
          li
            a(href='https://plus.google.com/114814969625534275747/posts', target='_blank')
              | Google
          li
            a(href='http://www.youtube.com/channel/UCuxcjjmKAX0JDDh7-dvZ9Tg?guided_help_flow=3&ytsession=AtVH5MmdPAehvVtqI2nCGPzcvLD3l5JMncwsDumwj_hSjS0-nzSw-c2H5IJHtp4f7_nNUyp-U1wjD0J0YqsfY4uH_OQzO4N3UT47vKk8ck1hGCuZj3TK9suGuhML2PNNa0H0rjwDYuixKpHyZ9RnJEbEX-5eV08froJ6t6fvKamJEjCozh1h3ReIdY9Fvo6QnPDnaaF9CUFSMY3jWEuD5oeS8FpM7dMuWv2UtGbG4U7d4kfGsOD5dt6N5puKIMhauI2uFYpvR8ghotBRdHZ1jrVtYOaAQt260VcVezO4FBs', target='_blank')
              | YouTube
        #copyright
          | © IndaiDilSe, Inc.





    script(src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/jquery.geocomplete.js')
    
    script
      $(document).ready(function ($) {
        $("#roomlocation").geocomplete()
        .bind("geocode:result", function(event, result){
        })
        .bind("geocode:error", function(event, status){
        })
        .bind("geocode:multiple", function(event, results){
        });
        $("#find").click(function(){
        });
        $('#find').on('click', function  () {
        var a = $('#geocomplete').val().replace(/ /g,'');   console.log('a =',a)
        $('#geocomplete').val(a);
        $("#examples a").click(function(){
        $("#geocomplete").val($(this).text()).trigger("geocode");
        return false;
        });
        });});









      
